@charset "UTF-8";

.mbc-div{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 3rem;
}

.my-club-list{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 3rem;
}


.my-apply-list{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 3rem;
}

thead{
	font-weight: bold;
}

.noClub-div{
	margin-top: 15rem;
	font-size: 20px;
}

.club-list-btn{
	margin-top: 1.5rem;
	text-align: center;
}

.first-div{
	margin-top: 7rem;
}