@charset "UTF-8";

.mcc-div{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 3rem;
}

.apply-list{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 7rem;
	margin-bottom: 3rem;
}

.noClub-div{
	margin-top: 15rem;
	font-size: 20px;
}

.create-btn{
	margin-top: 1.5rem;
	text-align: center;
}

.go-club{
	margin-top: 2.5rem;
	text-align: center;
}