<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/info/intro.css">
</th:block>
<th:block layout:fragment="content">
	<div class="library-intro-div">
		<a th:href="@{/info/qna}"> qna</a>
		<div class="infoTitle">도서관 소개</div>
		<div>
			<h2 style="margin-bottom: 2rem; margin-left: 2rem; margin-right: 2rem;">한울도서관에 오신 것을 환영합니다!</h2>
			<table style="font-size:x-large; margin-left: 2rem; margin-right: 2rem; margin-bottom: 8rem;">
				<tr>
					<td>
					창조적 지식문화를 선도하는 도서관으로서 역할을 충실히 수행하겠습니다.
					</td>
				</tr>
				<tr>
					<td>
						한울도서관은 2005년 개관한 이래, 국내에서 발행된 출판물과 각종 지식 정보를 망라적으로 수집 · 보존하고 
						이를 체계적으로 정리하여 여러분에게 제공하고 있습니다.
					</td>
				</tr>
				<tr>
					<td>
						또한 변화하는 시대에 맞춰 종이 매체에서 온라인 자료에 이르기까지 풍부한 장서를 구축하고 있으며, 
						다양한 수요에 맞춰 누구나 손쉽게 자료를 이용할 수 있도록 지식문화유산 이용 서비스의 고도화 실현을 위해 노력하고 있습니다.
					</td>
				</tr>
				<tr>
					<td>
						21세기 지식 정보화 시대를 맞아 도서관은 국민 누구나 유용한 지식 정보를 편리하게 이용할 수 있는 핵심기관으로서 
						더 많은 변화를 요구받고 있습니다.
					</td>
				</tr>
				<tr>
					<td>
						한울도서관은 '지식 정보가 국가 발전의 중요한 자원'이라는 신념을 가지고 
						개개인의 창의성으로 이루어 낸 지적 성취가 오늘날의 첨단지식 정보와 어우러져 '살아 있는 정보'로 활용되도록 더욱더 노력하겠습니다.
					</td>
				</tr>
				<tr>
					<td>
						아울러 한울도서관의 국제적 위상을 높이고 국내외 도서관과의 지속적인 지원 · 협력을 확대하여 
						명실상부한 세계적 수준의 도서관으로 거듭나겠습니다.
					</td>
				</tr>
				<tr>
					<td>
						여러분의 많은 관심과 지원을 부탁드립니다.
					</td>
				</tr>
			</table>
		
		</div>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src="/js/.js"></script> -->
</th:block>
</html>