<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">

<!--연결해야 할 외부 css파일  -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/info/notice.css">
</th:block>

<th:block layout:fragment="content">
<div style="font-weight: bold; font-size: x-large; margin-top: 4rem; margin-left: 3rem;" >공지 사항</div> 
<div class="public-title">공지 사항</div>
    <div th:if="${noticeList != null}">
   			<table  class="table table-hover text-center noticeDiv" style="margin-top: 6rem;">
   			<colgroup>
   				<col width="10%">
   				<col width="*">
   				<col width="15%">
   				<col width="20%">
   			</colgroup>
   		<thead style="font-size: large; background-color: #e7f0ff; font-weight: bold;">
   			<tr>
   				<td>No</td>
   				<td>제목</td>
   				<td>작성자</td>
   				<td>작성일</td>
   			</tr>
   		</thead>
   		<tbody>
   		<th:block th:if="${#lists.size(noticeList) == 0}">
   			<tr>
   				<td colspan="5"> 게시글이 없습니다</td>
   			</tr>
   		</th:block>
   		<th:block th:if="${#lists.size(noticeList) != 0}">
   		<tr th:each=" n, state : ${noticeList} ">
   		<!-- <td th:text="${#lists.size(qna) - detailState.index + 1}"></td> -->
		<td>[[${state.count}]]</td> 
   			<td style="color: #4F709C;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
  <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"/>
</svg>
   				<a th:href="@{/info/noticeDetail(noticeNo=${n.noticeNo}, mainMenuCode=${subMenuVO.mainMenuCode}, subMenuCode=${subMenuVO.subMenuCode})}"><span th:text="${n.noticeTitle}"></span></a> </td>
   			<td>[[${n.memId}]]</td>
   			<td>[[${n.noticeCreateDate}]]</td>
   		</tr>
   		</th:block>
   		</tbody>
   	</table>
   	
   			<!-- 관리자 권한을 가진 사용자만 보이는 버튼 -->
	<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" style="margin-top: 4rem; text-align: right;">
			<input class="btn custom-btn"  type="button" value="공지 작성" th:onclick="|location.href='@{/info/noticeForm(mainMenuCode=${subMenuVO.mainMenuCode}, subMenuCode=${subMenuVO.subMenuCode})}'|">
		</div>
   	
   </div>
</th:block>

<!--연결해야 할 외부 js 파일  -->
<th:block layout:fragment="content_js">
	<!--<script type="text/javascript" src=""></script> -->
</th:block>

</html>