<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">

<!--연결해야 할 외부 css파일  -->
<th:block layout:fragment="content_css">
	<!--<link rel="stylesheet" href=""> -->
</th:block>

<th:block layout:fragment="content">
  qna detail
  <div>
		제목 : [[${qna.qnaTitle}]]
	</div>
	<div style="border-bottom: 1px solid black;">
		내용 : [[${qna.qnaContent}]]<br>
		작성자 : [[${qna.memId}]]<br>
		작성일 : [[${qna.qnaCreateDate}]]<br>
		조회수 : [[${qna.qnaViewCnt}]]<br>
		
	</div>
</th:block>

<!--연결해야 할 외부 js 파일  -->
<th:block layout:fragment="content_js">
	<!--<script type="text/javascript" src=""></script> -->
</th:block>

</html>