<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">

<!--연결해야 할 외부 css파일  -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/info/q_n_a.css">
</th:block>

<th:block layout:fragment="content">
   <div>
		<form th:action="@{/info/searchQna}" method="post">
		      <div class="qnaSearch">
		         <input type="text" name="searchKeyword" style="width: 25rem; border-width:thin;  border-color: #9DB2BF; border-style: solid;  "
		            th:value="${qnaVO != null and qnaVO.searchQnaVO != null ? qnaVO.searchQnaVO.searchKeyword : ''}">
		            
			      <input type="submit" value="검색" style="background-color: #e7f0ff; border: none; width: 3rem; height: 0.8cm; 
			      border-radius: 7%; ">
		      </div>
		</form>

   	
   <div>
   <div th:if="${qnaList != null}">
   			<table  class="table table-hover text-center qnaList">
   			<colgroup>
   				<col width="10%">
   				<col width="*">
   				<col width="15%">
   				<col width="20%">
   				<col width="10%">
   			</colgroup>
   		<thead style="font-size: large; background-color: #e7f0ff;">
   			<tr>
   				<td>No</td>
   				<td>제목</td>
   				<td>작성자</td>
   				<td>작성일</td>
   				<td>조회수</td>
   			</tr>
   		</thead>
   		<tbody>
   		<th:block th:if="${#lists.size(qnaList) == 0}">
   			<tr>
   				<td colspan="5"> 게시글이 없습니다</td>
   			</tr>
   		</th:block>
   		<th:block th:if="${#lists.size(qnaList) != 0}">
   		<tr th:each=" qna, detailState : ${qnaList} ">
   		<!-- <td th:text="${#lists.size(qna) - detailState.index + 1}"></td> -->
		<td th:text="${qna.getRowNumber}"></td> 
   			<td> <a th:href="@{/info/qnaDetail(qnaCode=${qna.qnaCode})}"><span th:text="${qna.qnaTitle}"></span></a> </td>
   			<td>[[${qna.memId}]]</td>
   			<td>[[${qna.qnaCreateDate}]]</td>
   			<td>[[${qna.qnaViewCnt}]]</td>
   		</tr>
   		</th:block>
   		</tbody>
   	</table>
   </div>
   
   
   	
  <table>
   <tr th:each="qnaVO : ${search}">
   	  <td th:text="${qnaVO.getRowNumber}"></td> 
   	  <td>[[${qnaVO.qnaTitle}]]</td>
   	  <td>[[${qnaVO.memId}]]</td>
   	  <td>[[${qnaVO.qnaCreateDate}]]</td>
   	  <td>[[${qnaVO.qnaViewCnt}]]</td>
   </tr>
</table>
   </div>

   	
   	<div style="text-align: center; margin-top: 20px; margin-bottom: 20px;" th:if="${pageVO != null}">
   	
			<th:block th:if="${pageVO.prevPageFlag}">
				<a th:href="@{/info/qna(nowPageNum=${pageVO.startPageNum - 1})}">이전</a>
			</th:block>		
				
			<th:block th:each="pageNum : ${#numbers.sequence(pageVO.startPageNum, pageVO.endPageNum)}">
				<a th:href="@{/info/qna(nowPageNum=${pageNum})}"><span th:text="${pageNum}"></span></a> 
			</th:block>
			
			<th:block th:if="${pageVO.nextPageFlag}">
				<a th:href="@{/info/qna(nowPageNum=${pageVO.endPageNum + 1})}">다음</a>
			</th:block>
			
		</div>
		 	<div>
   		
   		<button sec:authorize="isAnonymous()" type="button"  class="notLoginqBtn"
   		onclick="location.href='/member/loginForm'"><font color="white">로그인 후 질문 작성</font></button>
   		
   		<button sec:authorize="isAuthenticated()" type="button" class="qBtn" 
   		onclick="location.href='/info/questionForm'"><font color="white">질문 작성</font></button>
   	</div>
  </div>
</th:block>

<!--연결해야 할 외부 js 파일  -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/info/search_qna.js"></script>
</th:block>

</html>