<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">

<!--연결해야 할 외부 css파일  -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/info/q_n_a.css">
</th:block>

<th:block layout:fragment="content">
<div class="title-div">Q & A</div>
<div class="public-title"> > 질문 작성</div>
  <div class="qForm">
	  <form th:action="@{/info/sendQuestion}" method="post" >
	  		
	  		<input type="hidden" th:value="${#authentication.name}" name="memId">

	  		
	  		<div>
	  			<input type="text" required placeholder="제목을 입력하세요." name="qnaTitle" class="form-control" style="margin-bottom: 1rem;">
	  		</div>
		  	<div>
		  		<textarea rows="10" cols="70" name="qnaContent" class="form-control" required placeholder="내용을 입력하세요." style="resize: none;"></textarea>
		  	</div>
		  		<div class="col-12" style="margin-top: 1rem;">
						<input type="file" class="form-control" name="" id="">
					</div>
		  	<div>
		  		<button type="submit" class="btn custom-btn"  style="margin-top: 2rem;"><font color="white">작 성</font></button>
		  	</div>
	  	</form>
  </div>
</th:block>

<!--연결해야 할 외부 js 파일  -->
<th:block layout:fragment="content_js">
	<!--<script type="text/javascript" src=""></script> -->
</th:block>

</html>