<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alramMapper">
	<resultMap type="com.study.bookspace.alram.vo.AlramVO" id="alram">
		<id		 column="ALRAM_CODE" 						property="alramCode"/>
		<result column="MEM_ID" 							property="memId"/>
		<result column="ALRAM_DATE" 						property="alramDate"/>
		<result column="A_CONTENT" 							property="aContent"/>
		<result column="SECTION" 							property="section"/>
		<result column="A_CHECK" 							property="aCheck"/>
	</resultMap>
	
	<!-- 클럽 -->
	<insert id="insertAlram">
		INSERT INTO ALRAM (
		    ALRAM_CODE
		    , MEM_ID
		    , A_CONTENT
		    , SECTION
		) VALUES (
		    (SELECT 'ALRAM_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ALRAM_CODE, 7))), 0) + 1,3 , '0') 
					FROM ALRAM)
		    , #{memId}
		    , #{aContent}
		    , #{section}
		)
	</insert>
	
	<select id="getAlramCnt" resultType="int">
		SELECT COUNT(ALRAM_CODE)
		FROM ALRAM
		WHERE MEM_ID = #{memId}
		AND A_CHECK = 'N'
	</select>
	
	<select id="getAlramList" resultMap="alram">
		SELECT ALRAM_CODE
		    , TO_CHAR(ALRAM_DATE, 'YYYY-MM-DD HH24:MI') AS ALRAM_DATE
		    , A_CONTENT
		    , A_CHECK
		FROM ALRAM
		WHERE MEM_ID = #{memId}
	</select>
	
	<select id="getAlramDetail" resultMap="alram">
		SELECT ALRAM_CODE
		    , TO_CHAR(ALRAM_DATE, 'YYYY-MM-DD HH24:MI') AS ALRAM_DATE
		    , A_CONTENT
		FROM ALRAM
		WHERE ALRAM_CODE = #{alramCode}
	</select>
	
	<update id="updateAlramACheck">
		UPDATE ALRAM
		SET 
			A_CHECK = #{aCheck}
		WHERE ALRAM_CODE = #{alramCode}
	</update>
	
	<delete id="deleteAlram">
		DELETE ALRAM
		WHERE ALRAM_CODE = #{alramCode}
	</delete>
	
</mapper>
