<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="clubMapper">
	<resultMap type="com.study.bookspace.club.vo.BookClubVO" id="bookClub">
		<id		 column="CLUB_CODE" 		property="clubCode"/>
		<result column="CLUB_NAME" 			property="clubName"/>
		<result column="CLUB_INTRO"		 	property="clubIntro"/>
		<result column="CLUB_SHORT_INFO"	property="clubShortInfo"/>
		<result column="CLUB_CREATE_DATE" 	property="clubCreateDate"/>
		<result column="CLUB_MEM_CNT" 		property="clubMemCnt"/>
		<result column="CLUB_STATUS_NO" 	property="clubStatusNo"/>
		<result column="MEM_ID" 			property="memId"/>
		<association property="bookClubImageVO"  resultMap="bookClubImage"></association>
		<association property="bookClubMemberVO" resultMap="bookClubMember"></association>
	</resultMap>
	
	<resultMap type="com.study.bookspace.club.vo.BookClubImageVO" id="bookClubImage">
		<id		 column="CLUB_IMG_CODE" 		property="clubImgCode"/>
		<result column="CLUB_CODE"			 	property="clubCode"/>
		<result column="BC_ORIGIN_FILE_NAME" 	property="bcOriginFileName"/>
		<result column="BC_ATTACHED_FILE_NAME"	property="bcAttachedFileName"/>
	</resultMap>
	
	<resultMap type="com.study.bookspace.club.vo.BookClubMemberVO" id="bookClubMember">
		<id		 column="ACCEPT_CODE" 		property="acceptCode"/>
		<result	 column="CLUB_CODE" 		property="clubCode"/>
		<result column="MEM_ID" 			property="memId"/>
		<result column="CLUB_REG_DATE" 		property="clubRegDate"/>
		<result column="CLUB_MEM_STATUS" 	property="clubMemStatus"/>
		<result column="CLUB_ROLE" 			property="clubRole"/>
		<result column="MEM_STATUS" 			property="memStatus"/>
		<association property="bookClubVO" resultMap="bookClub"></association>
		<association property="memberVO" resultMap="memberMapper.member"></association>
	</resultMap>
	
	<resultMap type="com.study.bookspace.club.vo.CommunityVO" id="community">
		<id		 column="BOARD_NUM" 		property="boardNum"/>
		<result column="BOARD_TITLE" 		property="boardTitle"/>
		<result column="BOARD_CONTENT"	 	property="boardContent"/>
		<result column="BOARD_WRITER" 		property="boardWriter"/>
		<result column="REG_DATE" 			property="regDate"/>
		<result column="READ_CNT" 			property="readCnt"/>
		<result column="REPLY_CNT" 			property="replyCnt"/>
		<result column="CLUB_CODE" 			property="clubCode"/>
		<result column="CLUB_NOTICE" 		property="clubNotice"/>
		<result column="ROW_NUM" 		 	property="rowNum"/>
		<result column="ROW_NUMBER" 	 	property="rowNumber"/>
		<association property="communityImageVO" resultMap="communityImage"></association>
		<association property="memberVO" resultMap="memberMapper.member"></association>
	</resultMap>
	
	<resultMap type="com.study.bookspace.club.vo.CommunityReplyVO" id="communityReply">
		<id		 column="REPLY_NUM" 		property="replyNum"/>
		<result column="REPLY_CONTENT" 		property="replyContent"/>
		<result column="REPLY_WRITER" 		property="replyWriter"/>
		<result column="REG_DATE" 			property="regDate"/>
		<result column="BOARD_NUM" 			property="boardNum"/>
		<result column="CLUB_CODE" 			property="clubCode"/>
	</resultMap>
	
	<resultMap type="com.study.bookspace.club.vo.CommunityImageVO" id="communityImage">
		<id		 column="COM_IMG_CODE" 			property="comImgCode"/>
		<result column="BOARD_NUM"			 	property="boardNum"/>
		<result column="BC_ORIGIN_FILE_NAME" 	property="bcOriginFileName"/>
		<result column="BC_ATTACHED_FILE_NAME"	property="bcAttachedFileName"/>
	</resultMap>
	
	<select id="getClubCode" resultType="String">
		SELECT CLUB_CODE
		FROM BOOK_CLUB
		WHERE MEM_ID = #{memId}
	</select>
	
	<select id="hasClub" resultType="int">
		SELECT COUNT(MEM_ID)
		FROM BOOK_CLUB
		WHERE MEM_ID = #{memId}
	</select>
	
	<select id="isDuplicateClubName" resultType="int">
		SELECT COUNT(CLUB_NAME)
		FROM BOOK_CLUB
		WHERE CLUB_NAME = #{clubName}
	</select>
	
	<select id="getNextClubCode" resultType="String">
		SELECT 'CLUB_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CLUB_CODE, 6))), 0) + 1,3 , '0') 
			FROM BOOK_CLUB
	</select>
	
	
	<insert id="regClub">
		INSERT INTO BOOK_CLUB (
			CLUB_CODE
			, CLUB_NAME
			, CLUB_SHORT_INFO
			, CLUB_INTRO
			, CLUB_MEM_CNT
			, MEM_ID
		) VALUES (
			#{clubCode}
			, #{clubName}
			, #{clubShortInfo}
			, #{clubIntro}
			, #{clubMemCnt}
			, #{memId}
		)
	</insert>
	
	<select id="countMemCnt" resultType="int">
		SELECT COUNT(MEM_ID)
		FROM BOOK_CLUB_MEMBER
		WHERE CLUB_CODE = #{clubCode}
		AND CLUB_MEM_STATUS = 2
	</select>
	
	<update id="updateClubMemberStatus">
		UPDATE BOOK_CLUB_MEMBER
		SET
			CLUB_MEM_STATUS = #{clubMemStatus}
		WHERE CLUB_CODE = #{clubCode}
		AND MEM_ID = #{memId}
	</update>
	
	<update id="updateClubMemberRole">
		UPDATE BOOK_CLUB_MEMBER
		SET
			CLUB_ROLE = #{clubRole}
		WHERE CLUB_CODE = #{clubCode}
		AND MEM_ID = #{memId}
	</update>
	
	<insert id="insertImg">
		INSERT INTO BOOK_CLUB_IMAGE (
			CLUB_IMG_CODE
			, CLUB_CODE
			, BC_ORIGIN_FILE_NAME
			, BC_ATTACHED_FILE_NAME
		) VALUES (
			(SELECT 'CLUB_IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CLUB_IMG_CODE, 10))), 0) + 1,3 , '0') 
			FROM BOOK_CLUB_IMAGE)
			, #{clubCode}
			, #{bcOriginFileName}
			, #{bcAttachedFileName}
		)
	</insert>
	
	<insert id="insertCommunityImg">
		INSERT INTO COMMUNITY_IMAGE (
			COM_IMG_CODE
			, BOARD_NUM
			, BC_ORIGIN_FILE_NAME
			, BC_ATTACHED_FILE_NAME
		) VALUES (
			(SELECT 'COM_IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(COM_IMG_CODE, 9))), 0) + 1,3 , '0') 
			FROM COMMUNITY_IMAGE)
			, #{boardNum}
			, #{bcOriginFileName}
			, #{bcAttachedFileName}
		)
	</insert>
	
	<select id="getClubList" resultMap="bookClub">
		SELECT CLUB.CLUB_CODE
			, CLUB_NAME
			, CLUB_SHORT_INFO
			, BC_ATTACHED_FILE_NAME
		FROM BOOK_CLUB CLUB, BOOK_CLUB_IMAGE IMG
		WHERE CLUB.CLUB_CODE = IMG.CLUB_CODE
		ORDER BY CLUB_CODE
	</select>
	
	<select id="getClubDetail" resultMap="bookClub">
		SELECT CLUB.CLUB_CODE
			, CLUB_NAME
			, CLUB_SHORT_INFO
			, CLUB_INTRO
			, CLUB_MEM_CNT
			, BC_ATTACHED_FILE_NAME
			, MEM_ID
		FROM BOOK_CLUB CLUB, BOOK_CLUB_IMAGE IMG
		WHERE CLUB.CLUB_CODE = IMG.CLUB_CODE
		AND CLUB.CLUB_CODE = #{clubCode}
	</select>
	
	<select id="alreadyApply" resultType="int">
		SELECT COUNT(MEM_ID)
		FROM BOOK_CLUB_MEMBER
		WHERE CLUB_CODE = #{clubCode}
		AND MEM_ID = #{memId}
	</select>
	
	<select id="isClubMember" resultType="int">
		SELECT COUNT(MEM_ID)
		FROM BOOK_CLUB_MEMBER
		WHERE CLUB_CODE = #{clubCode}
		AND MEM_ID = #{memId}
		AND CLUB_MEM_STATUS = 2
	</select>
	
	<insert id="joinClub">
		INSERT INTO BOOK_CLUB_MEMBER (
			ACCEPT_CODE
			, CLUB_CODE
			, MEM_ID
		) VALUES (
			(SELECT 'ACCEPT_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ACCEPT_CODE, 8))), 0) + 1,3 , '0') 
			FROM BOOK_CLUB_MEMBER)
			, #{clubCode}
			, #{memId}
		)
	</insert>
	
	<select id="getClubImageName" resultType="String">
		SELECT BC_ATTACHED_FILE_NAME
		FROM BOOK_CLUB_IMAGE
		WHERE CLUB_CODE = #{clubCode}
	</select>
	
	<select id="getCommunityImageName" resultType="String">
		SELECT BC_ATTACHED_FILE_NAME
		FROM COMMUNITY_IMAGE
		WHERE BOARD_NUM = #{boardNum}
	</select>
	
	<delete id="deleteClub">
		DELETE BOOK_CLUB
		WHERE CLUB_CODE = #{clubCode}
	</delete>
	
	<update id="updateClub">
		UPDATE BOOK_CLUB
		SET
			CLUB_SHORT_INFO = #{clubShortInfo}
			, CLUB_INTRO = #{clubIntro}
		WHERE CLUB_CODE = #{clubCode}
	</update>
	
	
	<select id="getBoardList" resultMap="community">
		SELECT (SELECT COUNT(BOARD_NUM)
				FROM COMMUNITY_BOARD
				WHERE CLUB_CODE = #{clubCode}) - ROW_NUM + 1 AS ROW_NUMBER
			, BOARD_NUM
			, BOARD_TITLE
			, BOARD_WRITER
			, MEM_NAME
			, REG_DATE
			, READ_CNT
			, ROW_NUM
			, REPLY_CNT
			, CLUB_CODE
			, CLUB_NOTICE
		FROM
		(
			SELECT BOARD_NUM
				, BOARD_TITLE
				, BOARD_WRITER
				, MEM_NAME
				, REG_DATE
				, READ_CNT
				, ROWNUM ROW_NUM
				, REPLY_CNT
				, CLUB_CODE
				, CLUB_NOTICE
		FROM
		(	
			SELECT BOARD_NUM
				, BOARD_TITLE
				, BOARD_WRITER
				, MEM_NAME
				, TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
				, READ_CNT
				, (SELECT COUNT(REPLY_NUM)
					FROM COMMUNITY_REPLY
					WHERE BOARD_NUM = CB.BOARD_NUM) AS REPLY_CNT
				, CLUB_CODE
				, CLUB_NOTICE
			FROM COMMUNITY_BOARD CB, MEMBER M
			WHERE BOARD_WRITER = MEM_ID
			AND CLUB_CODE = #{clubCode}
			<if test="searchOption == 'title'">
				 AND LOWER(BOARD_TITLE) LIKE '%' || LOWER(#{searchText}) || '%'
			</if>
			 <if test="searchOption == 'writer'">
				 AND LOWER(BOARD_WRITER) LIKE '%' || LOWER(#{searchText}) || '%'
			</if>
			ORDER BY BOARD_NUM DESC
			)	
		)
		WHERE ROW_NUM &gt;= #{startDataNum} AND ROW_NUM &lt;= #{endDataNum}
	</select>
	
	<select id="getNoticeList" resultMap="community">
		SELECT BOARD_NUM
			, BOARD_TITLE
		    , BOARD_WRITER
		    , MEM_NAME
		    , TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
		    , READ_CNT
		    , (SELECT COUNT(REPLY_NUM)
							FROM COMMUNITY_REPLY
							WHERE BOARD_NUM = CB .BOARD_NUM) AS REPLY_CNT
		    , CLUB_CODE
		    , CLUB_NOTICE
		FROM COMMUNITY_BOARD CB, MEMBER M
		WHERE BOARD_WRITER = MEM_ID
		AND CLUB_CODE = #{clubCode}
		AND CLUB_NOTICE = 'Y'
	</select>
	
	
	<select id="getNextBoardNum" resultType="String">
		SELECT 'BOARD_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(BOARD_NUM, 7))), 0) + 1,3 , '0') 
			FROM COMMUNITY_BOARD
	</select>
	
	<insert id="regBoard">
		INSERT INTO COMMUNITY_BOARD (
			BOARD_NUM
			, BOARD_TITLE
			, BOARD_CONTENT
			, BOARD_WRITER
			, CLUB_CODE
			<if test="clubNotice != null">
			, CLUB_NOTICE
			</if>
		) VALUES (
			#{boardNum}
			, #{boardTitle}
			, #{boardContent}
			, #{boardWriter}
			, #{clubCode}
			<if test="clubNotice != null">
			, #{clubNotice}
			</if>
		)
	</insert>
	
	
	<select id="getBoardDetail" resultMap="community">
		SELECT CB.BOARD_NUM
			, BOARD_TITLE
			, BOARD_CONTENT
			, BOARD_WRITER
			, TO_CHAR(REG_DATE, 'YYYY-MM-DD HH24:MI') AS REG_DATE
			, READ_CNT
			, CLUB_CODE
			, BC_ATTACHED_FILE_NAME
		FROM COMMUNITY_BOARD CB, COMMUNITY_IMAGE CM
		WHERE CB.BOARD_NUM = CM.BOARD_NUM(+)
		AND CB.BOARD_NUM = #{boardNum}
	</select>
	
	<update id="updateBoard">
		UPDATE COMMUNITY_BOARD
		SET
			BOARD_TITLE = #{boardTitle}
			, BOARD_CONTENT = #{boardContent}
		WHERE BOARD_NUM = #{boardNum}
	</update>
	
	<delete id="deleteBoard">
		DELETE COMMUNITY_BOARD
		WHERE BOARD_NUM = #{boardNum}
	</delete>
	
	<insert id="regReply">
		INSERT INTO COMMUNITY_REPLY (
			REPLY_NUM
			, REPLY_CONTENT
			, REPLY_WRITER
			, BOARD_NUM
		) VALUES (
			(SELECT 'REPLY_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(REPLY_NUM, 7))), 0) + 1,3 , '0') 
			FROM COMMUNITY_REPLY)
			, #{replyContent}
			, #{replyWriter}
			, #{boardNum}
		)
	</insert>
	
	<select id="getReplyList" resultMap="communityReply">
		SELECT REPLY_NUM
			, REPLY_CONTENT
			, REPLY_WRITER
			, TO_CHAR(REG_DATE, 'YYYY-MM-DD HH24:MI') AS REG_DATE
		FROM COMMUNITY_REPLY
		WHERE BOARD_NUM = #{boardNum}
		ORDER BY REPLY_NUM DESC
	</select>
	
	<update id="updateReply">
		UPDATE COMMUNITY_REPLY
		SET
			REPLY_CONTENT = #{replyContent}
		WHERE REPLY_NUM = #{replyNum}
	</update>
	
	<delete id="deleteReply">
		DELETE COMMUNITY_REPLY
		WHERE REPLY_NUM = #{replyNum}
	</delete>
	
	<select id="getClubMemberList" resultMap="bookClubMember">
		SELECT ACCEPT_CODE
			, M.MEM_ID
			, MEM_NAME
			, TO_CHAR(CLUB_REG_DATE, 'YYYY-MM-DD') AS CLUB_REG_DATE
		FROM BOOK_CLUB_MEMBER CM, MEMBER M
		WHERE CM.MEM_ID = M.MEM_ID
		AND CLUB_CODE = #{clubCode}
		AND CLUB_MEM_STATUS = 2
		ORDER BY ACCEPT_CODE
	</select>
	
	<select id="getApplyMemberList" resultMap="bookClubMember">
		SELECT ACCEPT_CODE
			, CM.MEM_ID
			, MEM_NAME
			, TO_CHAR(CLUB_REG_DATE, 'YYYY-MM-DD') AS CLUB_REG_DATE
		FROM BOOK_CLUB_MEMBER CM, MEMBER M
		WHERE CM.MEM_ID = M.MEM_ID
		AND CLUB_CODE = #{clubCode}
		AND CLUB_MEM_STATUS = 1
	</select>
	
	<select id="getClubBossId" resultType="String">
		SELECT MEM_ID
		FROM BOOK_CLUB
		WHERE CLUB_CODE = #{clubCode}
	</select>
	
	<!-- 나의 클럽 상태 조회 -->
	<select id="getMyClubDetail" resultMap="bookClubMember">
		SELECT ACCEPT_CODE
			, CM.CLUB_CODE
			, CLUB_NAME
			, TO_CHAR(CLUB_REG_DATE, 'YYYY-MM-DD') AS CLUB_REG_DATE
			, CLUB_MEM_STATUS
			, CLUB_MEM_CNT
		FROM BOOK_CLUB_MEMBER CM, BOOK_CLUB CLUB
		WHERE CM.CLUB_CODE = CLUB.CLUB_CODE
        AND CM.MEM_ID = #{memId}
	</select>
	
	<update id="acceptMember">
		UPDATE BOOK_CLUB_MEMBER
		SET
			CLUB_MEM_STATUS = 2
		WHERE ACCEPT_CODE = #{acceptCode}
	</update>
	
	<update id="refuseMember">
		UPDATE BOOK_CLUB_MEMBER
		SET
			CLUB_MEM_STATUS = 3
		WHERE ACCEPT_CODE = #{acceptCode}
	</update>
	
	<delete id="cancelApply">
		DELETE BOOK_CLUB_MEMBER
		WHERE ACCEPT_CODE = #{acceptCode}
	</delete>
	
	<select id="getBoardCnt" resultType="int">
		SELECT COUNT(BOARD_NUM) 
		FROM COMMUNITY_BOARD
		WHERE CLUB_CODE = #{clubCode}
	</select>
	
	<!-- 게시글 조회수  -->
	<update id="updateReadCnt">
		UPDATE COMMUNITY_BOARD
		SET 
			READ_CNT = READ_CNT + 1
		WHERE BOARD_NUM = #{boardNum}
	</update>
	
	
	<select id="getMemIdByClubCode" resultType="String">
		SELECT MEM_ID
		FROM BOOK_CLUB
		WHERE CLUB_CODE = #{clubCode}
	</select>
	
	
	
	
</mapper>
