<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">

	<resultMap type="com.study.bookspace.member.vo.MemberVO" id="member">
		<id		column="MEM_ID"						property="memId"/>
		<result column="MEM_PW"						property="memPw"/>
		<result column="MEM_NAME"					property="memName"/>
		<result column="MEM_STATUS"					property="memStatus"/>
		<result column="MEM_ROLE"					property="memRole"/>
		<result column="MEM_EMAIL"					property="memEmail"/>
		<result column="MEM_TELL"					property="memTell"/>
		<result column="MEM_BIRTHDAY"				property="memBirthday"/>
		<result column="MEM_GENDER"					property="memGender"/>
		<result column="MEM_ADDR"					property="memAddr"/>
		<result column="MEM_ADDR_DETAIL"			property="memAddrDetail"/>
		<result column="MEM_JOIN_DATE"				property="memJoinDate"/>
		<result column="BORROW_RESTRICT_DUEDATE"	property="borrowRestrictDuedate"/>
		<result column="MEM_LOGIN_DATE"				property="memLoginDate"/>
		<result column="MEM_IMG_URL"				property="memImgUrl"/>
		<result column="OVERDUE_CNT"				property="overdueCnt"/>
	</resultMap>

	<!-- 아이디 중복 체크 -->
	<select id="idDuplicateCheck" resultType="String">
		SELECT MEM_ID
		FROM MEMBER
		WHERE MEM_ID = #{memId}
	</select>
	
	<!-- 회원가입 -->
	<insert id="join">
		INSERT INTO MEMBER (
			MEM_ID
			, MEM_PW
			, MEM_NAME
			, MEM_EMAIL
			, MEM_TELL
			<if test='!memBirthday.equals("")'>
			, MEM_BIRTHDAY
			</if>
			<if test="memGender != null">
			, MEM_GENDER
			</if>
			, MEM_ADDR
			, MEM_ADDR_DETAIL
		) VALUES (
			#{memId}
			, #{memPw}
			, #{memName}
			, #{memEmail}
			, #{memTell}
			<if test='!memBirthday.equals("")'>
			, #{memBirthday}
			</if>
			<if test="memGender != null">
			, #{memGender}
			</if>
			, #{memAddr}
			, #{memAddrDetail}
		)
	</insert>
	
	<!-- 로그인 회원 정보 조회 -->
	<select id="getUserInfoForLogin" resultMap="member">
		SELECT MEM_ID
			, MEM_PW
			, MEM_ROLE
		FROM MEMBER
		WHERE MEM_ID = #{memId}
			AND MEM_STATUS != '탈퇴'
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findIdList" resultMap="member">
		SELECT MEM_ID
			, TO_CHAR(MEM_JOIN_DATE, 'YY-MM-DD HH24:MI:SS') MEM_JOIN_DATE
		FROM MEMBER
		WHERE ${column} = #{value}
			AND MEM_STATUS != '탈퇴'
	</select>
	
	<!-- 비밀번호 변경 전 아이디 확인 -->
	<select id="checkId" resultType="int">
		SELECT COUNT(MEM_ID)
		FROM MEMBER
		WHERE ${column} = #{value}
			AND MEM_ID = #{memId}
			AND MEM_STATUS != '탈퇴'
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePw">
		UPDATE MEMBER
		SET MEM_PW = #{memPw}
		WHERE MEM_ID = #{memId}
	</update>
	
	<!-- 로그인 후 회원 상태 조회 -->
	<select id="checkMemStatus" resultType="String">
		SELECT MEM_STATUS
		FROM MEMBER
		WHERE MEM_ID = #{memId}
	</select>
	
	<!-- 로그인 후 회원 상태, 로그인 날짜 수정 -->
	<update id="updateMemLoginDate">
		UPDATE MEMBER
		SET MEM_STATUS = '활동'
			, MEM_LOGIN_DATE = SYSDATE
		WHERE MEM_ID = #{memId}
	</update>
	
	<!-- 비밀번호 확인 -->
	<select id="getPwById" resultType="String">
		SELECT MEM_PW
		FROM MEMBER
		WHERE MEM_ID = #{memId}
	</select>
	
	<!-- 내 정보 정보 조회 -->
	<select id="getMemberInfo" resultMap="member">
		SELECT MEM_ID
			, MEM_NAME
			, MEM_EMAIL
			, MEM_TELL
			, TO_CHAR(MEM_BIRTHDAY, 'YYYY-MM-DD') MEM_BIRTHDAY
			, MEM_GENDER
			, MEM_ADDR
			, MEM_ADDR_DETAIL
		FROM MEMBER
		WHERE MEM_ID = #{memId}
	</select>
	
	<!-- 내 정보 변경 -->
	<update id="updateMember">
		UPDATE MEMBER
		SET MEM_NAME = #{memName}
			, MEM_EMAIL = #{memEmail}
			, MEM_TELL = #{memTell}
			<if test="!memBirthday.equals('')">
			, MEM_BIRTHDAY = #{memBirthday}
			</if>
			<if test="memGender != null">
			, MEM_GENDER = #{memGender}
			</if>
			, MEM_ADDR = #{memAddr}
			, MEM_ADDR_DETAIL = #{memAddrDetail}
		WHERE MEM_ID = #{memId}
	</update>
	
	<!-- 내 프로필 간단 정보 -->
	<select id="getMyProfile" resultMap="member">
		SELECT MEM_ID
			, MEM_NAME
			, MEM_EMAIL
			, MEM_TELL
			, MEM_IMG_URL
			, TO_CHAR(MEM_JOIN_DATE, 'YYYY-MM-DD') MEM_JOIN_DATE
		FROM MEMBER
		WHERE MEM_ID = #{memId}
	</select>
	
	<!-- 내 프로필 사진 등록, 삭제 -->
	<update id="updateMemImg">
		UPDATE MEMBER
		SET MEM_IMG_URL = #{memImgUrl}
		WHERE MEM_ID = #{memId}
	</update>
	
	<!-- 회원 탈퇴 전 사진 경로 받기 -->
	<select id="getMemImgUrlForWithdrawal" resultType="String">
		SELECT MEM_IMG_URL
		FROM MEMBER
		WHERE MEM_ID = #{memId}
	</select>
	
	<!-- 회원 탈퇴 -->
	<update id="withdrawal">
		UPDATE MEMBER
		SET MEM_STATUS = '탈퇴'
			, MEM_IMG_URL = ''
		WHERE MEM_ID = #{memId}
	</update>

</mapper>
