<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="orderMapper">
	<resultMap type="com.study.bookspace.adminOrder.vo.GoodsOrderVO" id="order">
		<id  	column="ORDER_CODE"  			property="orderCode" />
		<result  column="BUY_DATE"  				property="buyDate" />
		<result  column="MEM_ID"  				property="memId" />
		<result  column="ORDER_NO"  			property="orderNo" />
		<result  column="ORDER_STR"  			property="orderStr" />
		<result  column="BUY_PRICE"  			property="buyPrice" />
		<result  column="BUY_CODE"  			property="buyCode" />
	</resultMap>

	<insert id="insertOrder">
		INSERT INTO GOODS_ORDER (
			ORDER_CODE
			, MEM_ID
			, ORDER_NO
			, BUY_PRICE
			, BUY_CODE
		) VALUES (
				(SELECT 'ORDER_' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ORDER_CODE, 7))), 0) + 1, 3, '0') AS ORDER_CODE 
				FROM GOODS_ORDER) 
				, #{memId}
				, 1
				, #{buyPrice}
				,#{buyCode}
		)
	</insert>
	
	<select id="selectOrder" resultMap="order">
		SELECT ORDER_CODE, BUY_DATE, MEM_ID, BUY_PRICE, BUY_CODE,
		    CASE
		        WHEN ORDER_NO = 1 THEN '주문접수'
		        WHEN ORDER_NO = 2 THEN '배송준비'
		        WHEN ORDER_NO = 3 THEN '배송중'
		        WHEN ORDER_NO = 4 THEN '배송완료'
		        ELSE '배송완료'
		    END AS ORDER_STR
		FROM GOODS_ORDER
		ORDER BY BUY_DATE DESC
	</select>
	
	<update id="updateOrder">
		UPDATE GOODS_ORDER
		SET ORDER_NO = ORDER_NO + 1
		WHERE ORDER_CODE = #{orderCode}
	</update>
		
		
</mapper>
