@charset "UTF-8";


.reading-room-manage-div{
	margin-left: 2rem;	
	margin-right: 2rem;	
}

.rrm-head{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 3rem;
}

.search-div{
	margin-bottom: 3rem;
}

thead{
	font-weight: bold;
}

.my-scroll{
	max-height: 24.5rem;
	overflow-y: auto; 
}


.my-scroll::-webkit-scrollbar{
	width: 8px;
}

.my-scroll::-webkit-scrollbar-thumb{
	height: 30%;
	background: #6c96d8;
	border-radius: 10px;
}

.my-scroll::-webkit-scrollbar-track{
	background: #84848447;
}