<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">

<!--연결해야 할 외부 css파일  -->
<th:block layout:fragment="content_css">

</th:block>

<th:block layout:fragment="content">
  	<table>
		<thead>
			<tr>
				<td>
					<input onclick="setCheckState();" id="checkAll" type="checkbox">
				</td>
				<td>이미지</td>
				<td>상품명</td>
				<td>가격</td>
				<td>수량</td>
				<td>총 가격</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<th:block th:if="${#lists.size(cartList) == 0}">
				<tr>
					<td colspan="7">장바구니가 비어있습니다</td>
				</tr>
			</th:block>
			
			<th:block th:if="${#lists.size(cartList) != 0}">
				<tr th:each=" cart : ${cartList} ">
				<td>
					<input th:value="${cart.cartCode}" onclick="check();" type="checkbox" class="form-check-input chk"
					th:data-goods-code="${cart.goodsCode}" th:data-buy-detail-cnt="${cart.cartRegCnt}" th:data-buy-detail-price="${cart.totalPrice}">
				</td>
				
			
				<td>
					<img width="70px;" th:src="${'/image/goods' + cart.goodsVO.goodsImgList[0].attachedFileName}">
				</td>
						<td class="text-start">[[${cart.goodsVO.goodsName}]]</td>
						<td class="goodsPriceTd">[[${#numbers.formatCurrency(cart.goodsVO.goodsPrice)}]]</td>
						<td>
						<!-- 	<form th:action="@{/myCart/updateCartRegCnt}" method="post"> -->
								<input type="hidden" name="cartCode" th:value="${cart.cartCode}">
								
								
								<!-- 수량 -->
								<div class="row">
									<div class="col-7">
										<input name="cartRegCnt" min="1" type="number" class="form-control"
										th:value="${cart.cartRegCnt}" onchange="updateTotalPrice(this);">
									</div>
								</div>
						</td>
								
								
							<!--총 가격  -->	
							<!-- </form> -->
						<td> <!-- th:data-total-price="${cart.totalPrice}" -->
							<span class="totalPriceSpan"  th:value="${cart.totalPrice}">[[${#numbers.formatCurrency(cart.totalPrice)}]]</span>
						</td>
						<td>
							<div class="row">
								<div class="col d-grid">
									<input type="button" class="btn btn-secondary" value="삭 제" th:onclick="deleteCart([[${cart.cartCode}]]);">
								</div>
							</div>
						</td>
				</tr>
			</th:block>
		</tbody>
	</table>
			<div class="row mb-3">
				<div class="offset-9 col-3">
					<table class="table table-borderless text-center align-middle">
						<tr style="font-size: 1.3rem;">
							<td style="background-color: #0d6efd; color: white; border-top-left-radius: 10px; border-bottom: 1px solid #0d6efd;">구 매 금 액</td>
							<td class="text-end" style="border-bottom: 1px solid #0d6efd; font-weight: bold; font-style: italic;"><span id="finalPriceSpan">[[${#numbers.formatCurrency(finalPrice)}]]</span></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row mb-3">
				<div class="offset-4 col-2 d-grid">
					<input type="button" class="btn btn-primary" style="font-size: 1.1rem;" value="구	매" onclick="buys();">
				</div>
				<div class="col-2 d-grid">
					<input type="button" class="btn btn-primary" style="font-size: 1.1rem;" value="선택삭제" onclick="deleteCarts();">
				</div>
				<div>
					<a th:href="@{/mBuy/buyList}">구매내역</a>
				</div>
			</div>
</th:block>

<!--연결해야 할 외부 js 파일  -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/cart/cart.js"></script>
</th:block>

</html>