
.member-side-div {
	background-color: #4e68b9;
	min-height: 100vh;
	height: 100%;
}

.member-side-div a {
	color: white;
}

.side-main-menu-div {
	margin-top: 30px;
}

.side-main-menu-div > a {
	display: block;
	width: 100%;
	padding-left: 30px;
}

.side-main-menu-div > div {
	background-color:#6c96d8;
}

.side-sub-menu-div > a {
	display: block;
	width: 100%;
	padding-left: 60px;
}

.side-sub-menu-div > a:hover {
	color: #4e68b9;
}

.side-sub-menu-pick {
	color: #4e68b9 !important;
}