@charset "UTF-8";

.member-side-div {
	background-color: #4e68b9;
	min-height: 100vh;
	height: 100%;
	position: relative;
}

.member-side-div a {
	color: white;
}

.side-menu-list-div > div:last-child {
	position: absolute;
	display: none;
	background: #6c96d8;
	min-height: 100vh;
	height: 100%;
	top: 0;
	padding-top: 160px;
}

.side-menu-list-div:hover > div:first-child {
	background: #6c96d8;
}

.side-menu-list-div:hover > div:last-child {
	display: block;
}

.side-menu-list-div > div:last-child > div:hover > a {
	color: #4e68b9;
}

.side-main-menu-selected {
	background: #6c96d8;
}

.side-sub-menu-selected {
	color: #4e68b9 !important;
}
