<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/public_layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/club/board_detail.css">
</th:block>

<!-- 본문 내용 -->
<th:block layout:fragment="content">
	<div class="board-detail-div">
		<div class="community-head-div">
			<div>커뮤니티</div>
		</div>
		<div class="detail-body">
			<div class="row">
				<div class="col">
					<table class="table">
						<tr>
							<td>
								<table>
									<tr><td><h3>[[${board.boardTitle}]]</h3></td></tr>
									<tr>
										<td rowspan="2">
											이미지
										</td>
										<td>[[${board.boardWriter}]]</td>
									</tr>
									<tr>
										<td>[[${board.regDate}]]  조회 [[${board.readCnt}]]</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
						    <td class="board-body">
						        <div th:if="${board.communityImageVO.bcAttachedFileName != null}">
						            <img th:src="${'/image/community/' + board.communityImageVO.bcAttachedFileName}" height="300px;">
						        </div>
						        <div class="content">
						            <div>[[${board.boardContent}]]</div>
						        </div>
						    </td>
						</tr>
					</table>
				</div>
			</div>
		<div class="row">
			<div class="offset-10 col">
				<input type="button" class="btn update-btn" value="목록" th:onclick="|location.href='@{/club/community(clubCode=${board.clubCode}, mainMenuCode=${subMenuVO.mainMenuCode}, subMenuCode=${subMenuVO.subMenuCode})}';|">
				<th:block  th:if="${board.boardWriter == #authentication.name}">
					<input type="button" class="btn update-btn" value="수정" th:onclick="|location.href='@{/club/updateBoardForm(boardNum=${board.boardNum}, clubCode=${board.clubCode}, mainMenuCode=${subMenuVO.mainMenuCode}, subMenuCode=${subMenuVO.subMenuCode})}';|">
					<input type="button" class="btn delete-btn" value="삭제" th:onclick="deleteBoard([[${board.boardNum}]],[[${board.clubCode}]], [[${subMenuVO.mainMenuCode}]], [[${subMenuVO.subMenuCode}]]);">
				</th:block>
			</div>
		</div>
		<div class="reply-div">
			<form class="row" th:action="@{/club/regReply}" method="post">
				<div class="col-12 mb-3">
					<input type="hidden" name="boardNum" th:value="${board.boardNum}">
					<input type="hidden" name="clubCode" th:value="${board.clubCode}">
					<input type="hidden" name="mainMenuCode" th:value="${subMenuVO.mainMenuCode}">
					<input type="hidden" name="subMenuCode" th:value="${subMenuVO.subMenuCode}">
					<textarea rows="3" class="form-control" cols="100" name="replyContent"></textarea>
				</div>
				<div class="offset-11">
					<input sec:authorize="isAuthenticated()" class="btn custom-btn" type="submit" value="댓글 등록">
				</div>
			</form>
			<th:block th:each="reply : ${replyList}">
				<table>
					<tr>
						<td rowspan="2">이미지</td>
						<td>[[${reply.replyWriter}]]</td>
					</tr>
					<tr>
						<td>[[${reply.regDate}]]</td>
					</tr>
				</table>
				<div>[[${reply.replyContent}]]</div>
				<div th:if="${reply.replyWriter == #authentication.name}" class="offset-10">
					<input type="button" class="btn update-btn" value="수정" th:onclick="updateReply(this, [[${reply.replyNum}]], [[${board.boardNum}]], [[${board.clubCode}]], [[${subMenuVO.mainMenuCode}]], [[${subMenuVO.subMenuCode}]]);">
					<input type="button" class="btn delete-btn" value="삭제" th:onclick="deleteReply([[${reply.replyNum}]], [[${board.boardNum}]], [[${subMenuVO.mainMenuCode}]], [[${subMenuVO.subMenuCode}]]);">
				</div>
			</th:block>
		</div>
		</div>
	</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/club/board_detail.js"></script>
</th:block>

</html>