<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/public_layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/club/club_guide.css">
</th:block>

<!-- 본문 내용 -->
<th:block layout:fragment="content">
	<div class="club-guide-div mt-5">
		<div class="title-div">북클럽 안내</div>
		<div class="sub-title">북클럽이란?</div>
		<div class="content-div">
			북클럽은 독서의 즐거움을 공유하며 독서 소재에 대한 이해를 넓히고, 서로 다른 시각과 생각을 나누는데 좋은 기회를 제공합니다.<br>
			회원들은 주로 특정 도서를 선정하여 일정 기간 동안 읽은 후 커뮤니티를 통해 그 내용을 토론하고 나눕니다.<br>
			이를 통해 새로운 아이디어나 관점을 얻을 수 있으며, 독서에 대한 흥미를 높일 수 있습니다.<br>
			함께 독서를 즐기고 나아가 지식과 경험을 공유하는 북클럽은 독서 문화의 활성화와 독서 인구의 증가에 큰 기여를 할 수 있는 소중한 활동입니다.<br>
			한울도서관의 북클럽은 독서에 대한 열정과 관심을 가진 사람들에게 언제나 열려있습니다.
		</div>
		<div class="sub-title">가입에 제한이 있나요?</div>
		<div class="content-div">
			남녀노소 독서에 대한 열정만 있다면 누구나 가입이 가능합니다.<br>
			원하는 북클럽에 가입 신청을 하고 클럽장의 승인이 완료되면 북클럽의 회원이 됩니다.<br>
			단, 클럽장의 재량에 따라 오랜 기간 활동이 없거나 북클럽의 분위기를 흐리는 행동을 하는 회원을 강퇴 시킬 수 있습니다.
		</div>
		<div class="sub-title">누구나 북클럽을 만들 수 있나요?</div>
		<div class="content-div">
			북클럽을 잘 이끌어갈 열정만 있다면 누구나 북클럽을 만들 수 있습니다.<br>
			단, 무분별한 북클럽 생성을 막기 위해 한 회원당 하나의 북클럽만 만들 수 있습니다.<br>
			또한, 북클럽 이름은 수정 불가하므로 신중하게 작성해 주세요.
		</div>
	</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src=""></script> -->
</th:block>

</html>