<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/club/club_info.css">
</th:block>
<th:block layout:fragment="content">
	<div class="club-info-div">
		<div class="row">
			<div class="col">
				<div class="row club-title">
					북클럽
				</div>
				<div class="offset-10 col-2">
					<input type="button" class="btn custom-btn" value="북클럽 만들기" th:onclick="regClub([[${#authentication.name}]]);">
				</div>
				<div class="row row-cols-1 row-cols-md-3 g-4">
				<th:block th:each="club : ${clubList}">
					<div class="col">
						<div class="card">
							<a th:href="@{/club/clubDetail(clubCode=${club.clubCode}, mainMenuCode=${subMenuVO.mainMenuCode}, subMenuCode=${subMenuVO.subMenuCode})}">
								<img th:src="${'/image/club/' + club.bookClubImageVO.bcAttachedFileName}"
								class="card-img-top" height="400px;"></a>
							<div class="card-body" style="height: 200px;">
								<h5 class="card-title">[[${club.clubName}]]</h5>
								<p class="card-text">[[${club.clubShortInfo}]]</p>
							</div>
						</div>
					</div>
				</th:block>
				</div>
			</div>
		</div>
	</div>

	

</th:block>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/club/club_info.js"></script>
</th:block>
</html>