<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/club/club_info.css">
</th:block>
<th:block layout:fragment="content">
	<div class="club-info-div">
		<div class="title-div">
			북클럽
			<div>
				<input type="button" class="btn custom-btn" value="북클럽 만들기" th:onclick="regClub([[${#authentication.name}]], [[${subMenuVO.mainMenuCode}]], [[${subMenuVO.subMenuCode}]]);">
			</div>
		</div>
		<div class="public-title">북클럽 목록</div>
		<div class="row row-cols-1 row-cols-md-4 g-4 body-div">
		<th:block th:each="club : ${clubList}">
			<div class="col">
				<div class="card">
					<a th:href="@{/club/clubDetail(clubCode=${club.clubCode}, mainMenuCode=${subMenuVO.mainMenuCode}, subMenuCode=${subMenuVO.subMenuCode})}">
						<img th:src="${'/image/club/' + club.bookClubImageVO.bcAttachedFileName}"
						class="card-img-top" height="300px;"></a>
					<div class="card-body" style="height: 130px;">
						<h5 class="card-title">[[${club.clubName}]]</h5>
						<p class="card-text">[[${club.clubShortInfo}]]</p>
					</div>
				</div>
			</div>
		</th:block>
		</div>
	</div>

	

</th:block>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/club/club_info.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</th:block>
</html>