<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/public_layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href=""> -->
</th:block>

<!-- 본문 내용 -->
<th:block layout:fragment="content">
	<div class="club-manage-div">
		<div class="row">
			<div class="col">
				북클럽 관리 페이지 (only 관리자)
			</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table">
					<tr>클럽 회원 목록</tr>
					<tr th:each="member : ${memberList}">
						<td>[[${member.memId}]]</td>
						<td>
							<input type="button" value="강퇴" th:onclick="kickOut([[${member.acceptCode}]], [[${clubCode}]]);">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table">
					<tr>가입신청 회원 목록</tr>
					<tr th:each="apply : ${applyList}">
						<td>[[${apply.memId}]]</td>
						<td>
							<input type="button" value="승인" th:onclick="acceptMember([[${apply.acceptCode}]], [[${clubCode}]]);">
							<input type="button" value="거절" th:onclick="refuse([[${apply.acceptCode}]], [[${clubCode}]]);">
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/club/club_manage.js"></script>
</th:block>

</html>