<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/public_layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/club/reg_club_form.css">
</th:block>

<!-- 본문 내용 -->
<th:block layout:fragment="content">
	<div class="reg-club-form-div">
		<div class="title-div">북클럽</div>
		<div class="public-title">북클럽 만들기</div>
		<div class="row body-div">
			<div class="col">
				<form class="row g-2" id="regClubForm" th:action="@{/club/regClub}" method="post" enctype="multipart/form-data">
					<input type="hidden" name="mainMenuCode" th:value="${subMenuVO.mainMenuCode}">
					<input type="hidden" name="subMenuCode" th:value="${subMenuVO.subMenuCode}">
					<div class="col-9">
						<label for="clubName" class="form-label">클럽명</label> 
						<input type="text" class="form-control" id="clubName" name="clubName" placeholder="클럽 이름을 작성해주세요."
						onkeyup="setDisabled();">
					</div>
					<div class="col-3 d-grid">
						<label for="check_club_name" class="form-label">&nbsp;</label> 
						<input type="button" class="btn custom-btn" id="check_club_name"
							value="클럽명 중복확인" onclick="isDuplicateClubName();">
					</div>
					<div class="col-12">
						<label for="clubShortInfo" class="form-label">북클럽 한 줄 소개</label>
						<input type="text" class="form-control" id="clubShortInfo" name="clubShortInfo" placeholder="한 줄 소개를 작성해주세요.">
					</div>
					<div class="col-12">
						<label for="clubMemCnt" class="form-label">북클럽 인원</label>
						<input type="text" class="form-control" id="clubMemCnt" name="clubMemCnt" value="4">
					</div>
					<div class="col-12">
						<label for="clubImg" class="form-label">북클럽 이미지</label>
						<input type="file" class="form-control" name="clubImg" id="clubImg">
					</div>
					<div class="col-12">
						<label for="clubIntro" class="form-label">북클럽 소개</label> 
						<textarea rows="15" cols="50" name="clubIntro" id=clubIntro class="form-control"
							placeholder="클럽 소개를 작성해주세요." style="resize: none;"></textarea>
					</div>
					<div class="offset-4 col-3 d-grid">
						<input type="button" id="regClubBtn" class="btn custom-btn" value="클럽 만들기" onclick="regClub();" disabled>
					</div>
				</form>
			</div>
		</div>
	</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/club/reg_club_form.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</th:block>

</html>