@charset "UTF-8";


.title-div{
	font-weight: bold; 
	font-size: x-large; 
	margin-top: 4rem; 
	margin-left: 3rem;
	margin-bottom: 4rem;
}


.body-div{
	margin-top: 2rem;
	margin-left: 4rem;
	margin-right: 19rem;
}

.message-is-invalid {
   font-size: 0.7rem;
   color: red;
   margin-top: 2px;
}

.reg-form-div{
	margin-bottom: 4rem; 
	margin-top: 3rem; 
	font-size: 20px; 
	font-weight: bold;
}

.form-label{
	font-weight: bold;
}

.noticeHead{
	margin-top: 4rem; 
	margin-left: 4rem; 
	margin-right: 2rem;
	font-weight: bolder;
	font-size: xx-large;
	letter-spacing: 2px;
	color: #4e68b9;
}

.noticeForm{
	text-align: center;
	width: 80%;
	padding-left: 7rem;
	margin-top: 6rem;
	margin-bottom: 5rem;
}



.noticeDiv{
	width: 90%;
	margin: auto;
}



.nBtn{
	border: none;
	background-color: #6c96d8;
	border-radius: 3%; 
	width: 10rem;
	height: 3rem;
	font-weight: bold;
	margin-left: 2rem;
	margin-top: 2rem;
	color: white;
	text-align: center;
}



