@charset "UTF-8";

.infoTitle{
	margin-bottom: 4rem; 
	margin-top: 3rem; 
	margin-left: 2rem;  
	font-size: 20px; 
	font-weight: bold;
}

.qnaTable{
	width: 90%;
	text-align: center;
	align-content: center;
	margin-top: 5rem;
	margin-right: 0%;
}

.qnaHead{
	margin-bottom: 1rem; 
	margin-top: 4rem;
	margin-left: 4rem; 
	margin-right: 2rem;
	font-weight: bolder;
	font-size: xx-large;
	letter-spacing: 2px;
	color: #4e68b9;
}

.qnaList{
	margin-top: 3rem; 
	margin-left: 4rem;
	width: 90%;
}

.qnaSearch{

	width: 82%;
	text-align: right;
	margin-top: 3rem; 
	margin-left: 10rem;
}


.qBtn{
	border: none;
	background-color: #6c96d8;
	border-radius: 3%; 
	width: 10rem;
	height: 3rem;
	font-weight: bold;
	margin-left: 2rem;
	
}


.notLoginqBtn{
	border: none;
	background-color: #6c96d8;
	border-radius: 3%; 
	width: 12rem;
	height: 2rem;
	font-weight: bold;
		margin-left: 4rem;
	
}


.qForm{
	text-align: center;
	width: 80%;
	padding-left: 7rem;
	margin-top: 6rem;
	margin-bottom: 5rem;
}


.qnaDetail{
	width: 90%;
	margin-bottom: 5rem;
	margin-top: 5rem;
	font-size: medium;
}


.aTitle{
	height: 4rem;
	font-size: large;
	font-weight: bold;
	border: medium;
	border-top: 1px solid gray;
	padding-top: 2rem;
	text-align: center;
}

.aTitle2{
	height: 4rem;
	font-size: medium;
	border-bottom: 1px solid gray;
	padding-top: 1rem;
	padding-left: 2rem;
}

.aTitle2 > span {
	margin-right: 2rem;
}

.aContent{
	padding-top: 4rem;
	height: 20rem;
	font-size: medium;
	padding-left: 2rem;
	
}

.aBtn{
	border: none;
	background-color: #6c96d8;
	border-radius: 3%; 
	width: 8rem;
	height: 2rem;
	font-weight: bold;
	
}







