@charset "UTF-8";


.wayDiv{
	margin-top: 4rem;
}



.wayTitle{
	margin-bottom: 5rem; 
	margin-left: 4rem; 
	margin-right: 2rem;
	font-weight: bolder;
	font-size: xx-large;
	letter-spacing: 2px;
	color: #4e68b9;
}


.mapDiv{
	 margin-left: 7rem; 
	 margin-top: 5rem; 
	 margin-bottom: 7rem;
}








