<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/main_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/main.css">
</th:block>
<th:block layout:fragment="content">
	<div class="main-div">
		<form th:action="@{/book/bookList}" method="post" th:object="${searchBookVO}">
        <div class="row p-5">
            <div class="offset-2 col-2">
                <select class="form-select" th:field="*{searchOption}">
                    <option value="title">제목</option>
                    <option value="author">저자</option>
                </select>
            </div>
            <div class="col-6">
                <input class="form-control" th:field="*{searchText}">
            </div>
            <div class="col-2 d-grid">
                <input type="submit" value="검색" class="btn btn-primary custom-btn">
            </div>
        </div>
    </form>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/main.js"></script>
</th:block>
</html>