<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/main_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/main.css">
</th:block>
<th:block layout:fragment="content">
	<div class="main-div">
		<div class="row p-5">
			<div class="col-2">
				<select class="form-select">
					<option>제목</option>
					<option>저자</option>
				</select>
			</div>
			<div class="col-8">
				<input class="form-control">
			</div>
			<div class="col-2 d-grid">
				<button type="button" class="btn btn-primary custom-btn">검색</button>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/main.js"></script>
</th:block>
</html>