<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="publicSideFragment">
	<div class="public-side-div">
		<th:block th:each="mainMenu : ${publicMenuList}" th:if="${subMenuVO != null and mainMenu.mainMenuCode == subMenuVO.mainMenuCode}">
			<ul class="list-group public-side-main-menu-ul">
				<li class="list-group-item" th:text="${mainMenu.mainMenuName}"></li>
			</ul>
			<div class="list-group public-side-sub-menu-div" th:each="subMenu : ${mainMenu.subMenuList}">
				<a th:href="@{${subMenu.subMenuUrl}(mainMenuCode=${subMenu.mainMenuCode}, subMenuCode=${subMenu.subMenuCode})}" class="list-group-item"
					th:text="${subMenu.subMenuName}" th:classappend="${subMenuVO != null and subMenuVO.subMenuCode == subMenu.subMenuCode} ? public-side-menu-selected"></a>
			</div>
		</th:block>
	</div>
</th:block>
</html>