<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="publicHeaderFragment">
	<div class="public-header-div">
		<div class="row header-fixed-div ps-5 pe-5">
			<div class="col-2 header-title-div">
				<h1>
					<a href="/">한울도서관</a>
				</h1>
			</div>
			<div class="col-8 header-main-menu-div d-flex justify-content-center" onmouseenter="fixed_menu_mouseenter();" onmouseleave="fixed_menu_mouseleave();">
				<div th:each="mainMenu : ${publicMenuList}" th:onmouseover="public_menu_mouseover([[${mainMenuStat.index}]]);" th:onmouseout="public_menu_mouseout([[${mainMenuStat.index}]]);">
					<a th:href="@{${mainMenu.mainMenuUrl}(mainMenuCode=${mainMenu.mainMenuCode}, subMenuCode=${mainMenu.subMenuList[0].subMenuCode})}"
						th:classappend="${subMenuVO != null and mainMenu.mainMenuCode == subMenuVO.mainMenuCode} ? main-menu-selected" th:text="${mainMenu.mainMenuName}"></a>
				</div>
			</div>
			<div class="col-2 header-member-div d-flex justify-content-evenly align-items-center">
				<th:block sec:authorize="isAnonymous()">
					<div>
						<a href="/member/loginForm">로그인</a>
					</div>
					<div>
						<a href="/member/joinForm">회원가입</a>
					</div>
				</th:block>
				<th:block sec:authorize="isAuthenticated()">
					<div th:if="${adminMainMenuList != null}">
						<a th:href="@{${adminMainMenuList[0].mainMenuUrl}(mainMenuCode=${adminMainMenuList[0].mainMenuCode}, subMenuCode=${adminMainMenuList[0].mainSubMenuCode})}" class="admin-a"></a>
					</div>
					<div th:if="${userMainMenuList != null}" class="dropdown pb-1">
						<a th:href="@{${userMainMenuList[0].mainMenuUrl}(mainMenuCode=${userMainMenuList[0].mainMenuCode}, subMenuCode=${userMainMenuList[0].mainSubMenuCode})}" class="fs-5 me-1">[[${#authentication.name}]]</a>
						<a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></a>
						<ul class="dropdown-menu">
							<th:block th:each="mainMenu : ${userMainMenuList}">
								<li><hr th:if="${mainMenuStat.index != 0}" class="dropdown-divider"></li>
								<li>
									<a th:href="@{${mainMenu.mainMenuUrl}(mainMenuCode=${mainMenu.mainMenuCode}, subMenuCode=${mainMenu.mainSubMenuCode})}" th:text="${mainMenu.mainMenuName}"></a>
								</li>
							</th:block>
						</ul>
					</div>
					<div>
						<a href="/member/logout">로그아웃</a>
					</div>
				</th:block>
			</div>
		</div>
		<div class="row header-unfixed-div shadow d-none" onmouseenter="fixed_menu_mouseenter();" onmouseleave="fixed_menu_mouseleave();">
			<div class="col-8 offset-2 header-sub-menu-div d-flex justify-content-center">
				<div th:each="mainMenu : ${publicMenuList}">
					<div th:each="subMenu : ${mainMenu.subMenuList}">
						<a th:href="@{${subMenu.subMenuUrl}(mainMenuCode=${subMenu.mainMenuCode}, subMenuCode=${subMenu.subMenuCode})}" th:text="${subMenu.subMenuName}"
							th:classappend="${subMenuVO != null and subMenu.subMenuCode == subMenuVO.subMenuCode} ? sub-menu-selected"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>