<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/public_layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/room/reading_room_info.css">
</th:block>

<!-- 본문 내용 -->
<th:block layout:fragment="content">
	<div class="reading-room-info-div">
		<div class="info-div">
			열람실 안내
		</div>
			<div class="sub-title">열람실이란?</div>
			<div class="content-div">
				한울도서관의 열람실은 독서와 학습에 최적화된 공간으로, 조용하고 편안한 환경에서 독서에 몰두할 수 있는 장소입니다.<br>
				열람실은 독서와 연구에 집중하고 싶은 분들을 위해 조용한 분위기와 쾌적한 공간을 제공합니다.<br>
				<br>
				한울도서관의 열람실은 다양한 시설과 서비스를 제공하여 독서와 학습에 최상의 환경을 조성하고 있습니다.<br>
				전용 스터디 데스크, 무선 인터넷 접속, 전용 콘센트 등을 제공하여 사용자들이 편리하게 독서에 몰두할 수 있도록 도움을 드리고 있습니다.<br>
				<br>
				안락하고 조용한 열람실에서는 독서에만 전념할 수 있는 환경을 조성하고 있습니다.<br> 
				휴대폰의 음소거나 진동 모드 설정, 대화의 자제 등을 부탁드리며, 다른 이용자들의 편안한 공간 활용을 위해 협조해 주시기 바랍니다.
			</div>
			<div class="sub-title">어떻게 이용하나요?</div>
			<div class="content-div">
				원활한 운영을 위해 한울도서관의 회원만 열람실 이용이 가능합니다.<br>
				개인 PC나 도서관에 비치된 PC를 이용해서 좌석을 선택해 열람실을 이용할 수 있습니다.<br>
			</div>
	</div> 
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src=""></script> -->
</th:block>

</html>