<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/main_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/member/join.css">
</th:block>
<th:block layout:fragment="content">
	<div>
		<h2 class="member-title">회원가입</h2>
	</div>
	<div class="join-div w-50 m-auto pt-5">
		<form id="join-form">
			<div class="row d-flex align-items-center mt-5">
				<div class="col-2 text-end">
					<label for="join-mem-id" class="form-label m-0">아이디</label>
				</div>
				<div class="col-7">
					<input type="text" name="memId" id="join-mem-id" class="form-control" placeholder="아이디"
						onkeyup="id_validation(this);" maxlength="10">
				</div>
				<div class="col-3 d-grid">
					<button type="button" class="btn custom-btn" disabled
						onclick="id_duplicate_check(this);">아이디 확인</button>
				</div>
			</div>
			<div class="row d-flex align-items-center mt-4">
				<div class="col-2 text-end">
					<label for="join-mem-pw" class="form-label m-0">패스워드</label>
				</div>
				<div class="col-5">
					<input type="password" name="memPw" id="join-mem-pw" class="form-control" placeholder="패스워드"
						onkeyup="pw_validation(this);" maxlength="16">
				</div>
				<div class="col-5">
					<input type="password" id="join-mem-pw-check" class="form-control" placeholder="패스워드 확인"
						onkeyup="pw_check(this);" maxlength="16" disabled>
				</div>
			</div>
			<div class="row d-flex align-items-center mt-4">
				<div class="col-2 text-end">
					<label for="join-mem-name" class="form-label m-0">이름</label>
				</div>
				<div class="col-10">
					<input type="text" name="memName" id="join-mem-name" class="form-control" placeholder="이름"
						onkeyup="name_validation(this);">
				</div>
			</div>
			<div class="row d-flex align-items-center mt-4">
				<div class="col-2 text-end">
					<label for="join-mem-email-0" class="form-label m-0">이메일</label>
				</div>
				<div class="col-7">
					<div class="input-group">
						<input type="text" name="memEmailArr" id="join-mem-email-0" class="form-control" placeholder="이메일"
							 onkeyup="email_input_change(this);">
						<span class="input-group-text">@</span>
						<select name="memEmailArr" id="join-mem-email-1" class="form-select" onchange="email_select_change(this);">
							<option value="naver.com">naver.com</option>
							<option value="gmail.com">gmail.com</option>
							<option value="self">직접입력</option>
						</select>
					</div>
				</div>
				<div class="col-3 d-grid">
					<button type="button" class="btn custom-btn" onclick="email_pw_send(this);" disabled>메일 인증</button>
				</div>
			</div>
			<div class="row d-flex align-items-center mt-4">
				<div class="col-2 text-end">
					<label for="join-mem-tell-1" class="form-label m-0">전화번호</label>
				</div>
				<div class="col-7">
					<div class="input-group">
						<select name="memTellArr" id="join-mem-tell-0" class="form-select" onchange="tell_validation();">
							<option value="010">010</option>
							<option value="011">011</option>
						</select>
						<span class="input-group-text">-</span>
						<input type="text" name="memTellArr" id="join-mem-tell-1" class="form-control" onkeyup="tell_change(this);" maxlength="4">
						<span class="input-group-text">-</span>
						<input type="text" name="memTellArr" id="join-mem-tell-2" class="form-control" onkeyup="tell_change(this);" maxlength="4">
					</div>
				</div>
				<div class="col-3 d-grid">
					<button type="button" class="btn custom-btn" onclick="tell_pw_send(this);" disabled>번호 인증</button>
				</div>
			</div>
			<div class="row d-flex align-items-center mt-4">
				<div class="col-2 text-end">
					<label for="join-mem-birthday" class="form-label m-0">생년월일</label>
				</div>
				<div class="col-5">
					<input type="date" name="memBirthday" id="join-mem-birthday" class="form-control"
						th:max="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}">
				</div>
				<div class="col-2 text-end">
					<label class="form-label m-0">성별</label>
				</div>
				<div class="col-3">
					<input type="radio" name="memGender" id="join-mem-gender-m" class="form-check-input ms-4" value="M">
					<label for="join-mem-gender-m" class="form-check-label mb-0 ms-1">남</label>
					<input type="radio" name="memGender" id="join-mem-gender-f" class="form-check-input ms-4" value="F">
					<label for="join-mem-gender-f" class="form-check-label mb-0 ms-1">여</label>
				</div>
			</div>
			<div class="row d-flex align-items-center mt-4">
				<div class="col-2 text-end">
					<label for="join-mem-addr" class="form-label m-0">주소</label>
				</div>
				<div class="col-7">
					<input type="text" name="memAddr" id="join-mem-addr" class="form-control" onclick="search_addr();" placeholder="주소 검색 클릭" readonly>
				</div>
				<div class="col-3 d-grid">
					<button type="button" class="btn custom-btn" onclick="search_addr();">주소 검색</button>
				</div>
			</div>
			<div class="row d-flex align-items-center mt-4">
				<div class="col-2 text-end">
					<label for="join-mem-addr-detail" class="form-label m-0">상세주소</label>
				</div>
				<div class="col-10">
					<input type="text" name="memAddrDetail" id="join-mem-addr-detail" class="form-control" placeholder="상세 주소 입력" onkeyup="addr_validation(this);">
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-4 offset-4 d-grid">
					<button type="button" class="btn custom-btn" onclick="require_check();">회원 가입</button>
				</div>
			</div>
		</form>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/member/join.js"></script>
</th:block>
</html>