<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/main_layout}">
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href="/css/.css"> -->
</th:block>
<th:block layout:fragment="content">
	<div>
		<h2 class="member-title">로그인</h2>
	</div>
	<div class="login-div w-25 m-auto pt-5 mt-5 mb-5">
		<div class="row mt-5">
			<div class="col input-group">
				<input type="text" id="login-mem-id" class="form-control" placeholder="아이디">
				<input type="checkbox" class="btn-check" id="id-save-btn" autocomplete="off">
				<label class="btn btn-outline-secondary z-0" for="id-save-btn">저장</label>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col">
				<input type="password" id="login-mem-pw" class="form-control" placeholder="패스워드">
			</div>
		</div>
		<div class="row mt-4">
			<div class="col d-grid">
				<button type="button" class="btn btn-primary custom-btn" onclick="login();">로그인</button>
			</div>
		</div>
		<div class="row mt-4 pb-5">
			<div class="col text-center">
				<a href="/member/findIdForm">아이디 찾기</a>
				<span class="m-2">/</span>
				<a href="/member/findPwForm">비밀번호 찾기</a>
			</div>
		</div>
	</div>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/member/login.js"></script>
</th:block>
</html>