@charset "UTF-8";

.buy-title{
		margin-right: 1rem;
	}
.buy-index{
		font-size: 1.1rem;
		font-weight: bold;
	}
	
.buyListDiv{
	width: 70%;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 6rem;
}

.buyHead{
	height: 90px;
 	margin-top: 3rem;
   color: #4F709C;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
