@charset "UTF-8";



a-a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 160px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #ccc;
}
a-a:before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #ff005e;
  color: #fff;
  transition: 0.5s;
  transform-origin: bottom;
  transform: translatey(-100%) rotatex(90deg);
}
a-a:hover:before
{
  transform: translatey(0) rotatex(0deg);
}


a.button {
  display: block;
  position: relative;
 /*  float: left; */
  width: 13rem;
  margin: auto;
  padding: 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
}

/*  */


@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);



.articleTitle {
  font-size: 1.15em;
  font-weight: 700;
  line-height: 1em;
  color: #222;
}

.btnLightOrder1{
	background: #A3D8F4;
}

.btnLightOrder1.btnBorder {
  box-shadow: 0px 0px 0px 0px #9AB3F5;
}

.btnLightOrder1.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #9AB3F5;
  
}



.btnLightOrder2{
	background: #9AB3F5;
}

.btnLightOrder2.btnBorder {
  box-shadow: 0px 0px 0px 0px #7579E7;
}

.btnLightOrder2.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #7579E7;
  
}



.btnLightOrder3{
	background: #7579E7;
}

.btnLightOrder3.btnBorder {
  box-shadow: 0px 0px 0px 0px #655DBB;
}

.btnLightOrder3.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #655DBB;
  
}



.btnLightBlue {
  background: #6c96d8;
}

.goodsListDiv{
	margin-left: 3rem;
}

/* BORDER */

.btnLightBlue.btnBorder {
  box-shadow: 0px 0px 0px 0px #6c96d8;
}

.btnLightBlue.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #4e68b9;
  
}

.btnLightBlue-search{
	background-color: #6c96d8;
}

.btnLightBlue-search:hover{
	background-color: #4e68b9;
}


/*  */
 
a-a:after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #ea004f;
  color: #fff;
  transition: 0.5s;
  transform-origin: top;
  transform: translatey(0) rotatex(0deg);
}
a-a:hover:after
{
  transform: translatey(100%) rotatex(90deg);
}



.numDiv{
	margin-top: 6rem;
}




.ddd{
	font-size: large;
	margin-left: 50rem;
	text-align: right; 
	
}

.onDiv{
	
	color:#6c96d8;
	display: flex;
}

.slide {
	position: relative;
	align-items: baseline;
  /* layout */
  display: flex;
 
  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;

  /* position */
  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;

  /* size */
  width: 80%;

  /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
  user-select: none;
}
.slide_item {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;

  /* size */
  width: 100%;
  height: 300px;
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;

  /* transition */
  transition: left 0.15s;
}
.slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(50% - 16px);

  /* size */
  width: 32px;
  height: 32px;

  /* style */
  
  cursor: pointer;
}

.slide_prev_button {
  left: 10px;
}
.slide_next_button {
  right: 10px;
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */


/* 페이지네이션 스타일 */
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;

  /* position */
  position: absolute;
  bottom: 0;
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #7fb5ff;
}

.slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left 0.15s;
}


#index_03{
    width: 1100px;
    height: 400px;
   
}

.regGoodsHead{
 	margin-top: 3rem;
   color: #4F709C;
    line-height: 100px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


.goodsHead{
	
	 height: 100px;
 	margin-top: 8rem;
   color: #4F709C;
    line-height: 100px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.bestGoodsHead{
 	margin-top: 3rem;
   color: #4F709C;
    line-height: 100px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.orderHead{
	 color: #4F709C;
    line-height: 100px;
    font-size: 2rem;
    font-weight: bold;
     height: 100px;
     margin-top: 2rem;
     text-align: center;
}


.newGoodsHead{
   color: #4F709C;
    line-height: 100px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
	
}




.orderT{
	width: 80%;
	margin: auto;
}


.regGoodsBtn{
	background-color: #4e68b9;
	width: 9rem;
}

.regGoodsBtn:hover{
	background-color: #6c96d8;
	border-color: #6c96d8;
}




#slide3{
     margin-top: 5rem;
    height: 300px;
    width: 100%;
    
}

#slide3>ul>li{
    position: absolute;
    font-size: 0;
}


.zzz{
	width: 1100px;
	height: 300px;
}

.steady{
	width: 180px;
	height: 200px;
}

.newGoods{
	width: 14rem;
	height: 15rem;
	margin-top: 4rem;
}

.newGoodsImg{
	width: 13rem;
	height: 14rem;
	margin-top: 4rem;
}

.bestGoodsDiv{
	margin: auto;
	margin-bottom: 12rem;
	width: 80%;
	border-right: thin;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.recGoods{
	width: 45rem;
	height: 15rem;
}



.goodsN{
	text-align: center;
}


.newGoodsDiv{
	margin-top: 3rem;
	margin-bottom: 14rem;
	width: 90%;
	margin: auto;
	height: 65rem;
}




.goodsDetailDiv{
	margin-top: 12rem;
	margin-bottom: 12rem;
	margin-left: 13rem;
}


.goodsManageHead{
	margin-top: 3rem;
 	margin-bottom: 4rem;
   color: #4F709C;
    line-height: 100px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}













