@charset "UTF-8";



.goodsDetailDiv{
	margin-top: 12rem;
	margin-bottom: 12rem;
	margin-left: 13rem;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}









