<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href="/css/.css"> -->
</th:block>

<th:block layout:fragment="content">
	<div class="book-reg-div">
		<div class="row">
			<div class="col-12">
				<form id="" class="row g-3" th:action="@{/book/regBookProcess}" method="post" enctype="multipart/form-data">
					<div class="col-6">
						<label for="" class="form-label">도서 카테고리</label> 
						<select id="" name="bookCateNo" class="form-select">
							<th:block th:each="category : ${categoryList}">
								<option th:value="${category.bookCateNo}">[[${category.bookCateStr}]]</option>
							</th:block>
						</select>
					</div>
					<div class="col-6">
						<label for="" class="form-label">책이름</label> <input type="text" class="form-control" id="" name="bookTitle">
					</div>
					<div class="col-6">
						<label for="" class="form-label">작가</label> <input type="text" class="form-control" id="" name="bookAuthor">
					</div>
					<div class="col-6">
						<label for="" class="form-label">도서발행일</label> 
						<input type="date" class="form-control" id="" name="bookPublicationDate">
					</div>
					<div class="col-4">
						<label for="" class="form-label">출판사</label> 
						<input type="text" class="form-control" id="" name="bookPublisher">
					</div>
					<div class="col-4">
						<label for="" class="form-label">재고수량</label> 
						<input id = "cntInput" name="bookStockCnt" type="number" class="form-control" value="1" min="1">
					</div>
					<div class="col-4">
						<label for="" class="form-label">ISBN</label> <input type="text" class="form-control" id="" name="isbn">
					</div>
					<div class="col-6">
						<label for="" class="form-label">MAIN IMAGE</label> 
						<input type="file" class="form-control" id="" name="mainImg">
					</div>
					<div class="col-6">
						<label for="" class="form-label">SUB IMAGE</label> 
						<input type="file" class="form-control" id="" name="subImg" multiple>
					</div>
					<div class="col-12">
						<label for="" class="form-label" >도서 소개</label> 
						<textarea rows="5" class="form-control" name="bookIntro"></textarea>
					</div>
					<div class="col-12 d-flex justify-content-center">
  						<button id="" type="submit" class="btn custom-btn">등록</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src="/js/.js"></script> -->
</th:block>
</html>