<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href="/css/.css"> -->
</th:block>
<th:block layout:fragment="content">

<div class="book-list-div">
  <div class="row row-cols-5 g-4">
    <th:block th:each="book, iterStat : ${bookList}">
      <div class="col-4">
        <div class="card" style="width: 18rem; height: 100%;">
          <img th:src="${'/image/book/' + book.imgList[0].attachedFileName}">
          <div class="card-body">
            <h5 class="card-title">
              [[${book.bookTitle}]]
            </h5>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">대여하기</a> 
            <a th:href="@{/book/bookDetail(bookCode=${book.bookCode})}" class="card-link">자세히 보기</a>
          </div>	
        </div>
      </div>
    </th:block>
     </div>
</div>
    
    
 </th:block>


<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src="/js/.js"></script> -->
</th:block>
</html>

