<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href="/css/.css"> -->
</th:block>
<th:block layout:fragment="content">

	<div class="book-list-div">
		<th:block th:each="book : ${bookList}">
			<div class="col">
				<div class="card">

				
			<img th:src="${'/image/book/' + book.imgList[0].attachedFileName}"> 
					
				<span th:text="${book.bookAuthor}"></span> 
				<span th:text="${book.bookPublicationDate}"></span> 
				<span th:text="${book.bookpublisher}"></span> 
				<span th:text="${book.bookIntro}"></span> 
				<span th:text="${book.bookStockCnt}"></span> 
				<span th:text="${book.isbn}"></span> 
			</div>		
		</div>
		</th:block>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src="/js/.js"></script> -->
</th:block>
</html>

