<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href="/css/.css"> -->
</th:block>
<th:block layout:fragment="content">

<div class="book-list-div">
  <div class="row row-cols-5 g-4">
    <th:block th:each="book, iterStat : ${bookList}">
      <div class="col-2">
        <div class="bookList" style="text-align: center;">
        <a th:href="@{/book/bookDetail(bookCode=${book.bookCode})}">
          <img th:src="${'/image/book/' + book.imgList[0].attachedFileName}" style="width:158px; height: 250px;">
          </a>
            <div class="bookList-title">
              <[[${book.bookTitle}]]>
            </div>
        </div>
      </div>
    </th:block>
     </div>
</div>
    
    
 </th:block>


<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src="/js/.js"></script> -->
</th:block>
</html>

