<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href="/css/.css"> -->
</th:block>
<th:block layout:fragment="content">
	<div class="book-reg-div">
		<h2>도서 등록</h2>
		<div class="row">
			<div class="col-4">
				<label for="" class="form-label">도서코드</label> 
				<input type="text" class="form-control" id="" name="bookCode">
			</div>
			<div class="col-4">
				<label for="" class="form-label">책이름</label> 
				<input type="text" class="form-control" id="" name="bookCode">
			</div>
			<div class="col-4">
				<label for="" class="form-label">작가</label> 
				<input type="text" class="form-control" id="" name="bookCode">
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="" class="form-label">도서발행일</label> 
				<input type="text" class="form-control" id="" name="bookCode">
			</div>
			<div class="col-4">
				<label for="" class="form-label">출판사</label> 
				<input type="text" class="form-control" id="" name="bookCode">
			</div>
			<div class="col-4">
				<label for="" class="form-label">재고수량</label> 
				<input type="text" class="form-control" id="" name="bookCode">
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="" class="form-label">ISBN</label> 
				<input type="text" class="form-control" id="" name="bookCode">
			</div>
			<div class="col-8">
				<label for="" class="form-label">도서 소개</label> 
				<input type="text" class="form-control" id="" name="bookCode">
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src="/js/.js"></script> -->
</th:block>
</html>