@charset "UTF-8";

.reading-room-div{
	margin-top: 3rem;
}

.title-div{
	font-weight: bold; 
	font-size: x-large; 
	margin-top: 4rem; 
	margin-left: 3rem;
}

.body-div{
	margin-top: 4rem;
	padding-left: 4rem;
}

thead{
	font-weight: bold;
}

.seat-num-r{
	display:block; 
	position:absolute; 
	left:50%; 
	margin-left:-21%; 
	top:20px; 
	z-index:100; 
	font-weight: bold;
}

.seat-num-l{
	display:block; 
	position:absolute; 
	left:50%; 
	margin-left:14%; 
	top:20px; 
	z-index:100; 
	font-weight: bold;
}

.section-div{
	font-size: 25px;
}

















