@charset "UTF-8";

.reading-room-info-div{
	margin-top: 3rem;
	width: 90%;
}

.title-div{
	font-weight: bold; 
	font-size: x-large; 
	margin-top: 4rem; 
	margin-left: 3rem;
}

.info-div{
	margin-bottom: 5rem; 
	margin-left: 2rem; 
	margin-right: 2rem;
	font-weight: bolder;
	font-size: xx-large;
	letter-spacing: 2px;
	color: #4e68b9;
}

.body-div{
	margin-top: 4rem;
}

.body-div1{
	font-size:large; 
	margin-left: 6rem; 
	margin-right: 2rem; 
	margin-bottom: 8rem;
	letter-spacing: 1px;
	line-height: -10px;
}

.sub-title{
	margin-bottom: 2rem; 
	margin-left: 2rem; 
	margin-right: 2rem; 
	color: #4e68b9; 
	font-size:30px;
	font-weight: bold;
}

.content-div{
	margin-left: 4rem;
	margin-bottom: 2rem;
	font-size: 20px;
}