@charset "UTF-8";

.reading-div{
	margin-bottom: 4rem; 
	margin-top: 3rem; 
	margin-left: 2rem;  
	font-size: 20px; 
	font-weight: bold;
}

thead{
	font-weight: bold;
}

.seat-in{
	background-image: url("../../image/room/desk-white.png");
}

.seat-out{
	background-image: url("../../image/room/desk-black.png");
}