<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">
	

<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href="/css/.css"> -->

</th:block>
<th:block layout:fragment="content">
	<div class="borrow-manage-div">
		
		
		
		<!-- 도서 목록 영역 -->	
<div class="row" style="margin-top: 20px;">
  <div class="col">
     <div class="mainHead">
			도서 대여 내역
		</div>
     <div class="noticeExtend" style="margin-bottom: 5px;">
    * 반납 기한일로부터 3일 연장 가능하며, 다른 회원이 예약한 도서는 연장할 수 없습니다.
  </div>
    <table class="table table-striped table-hover text-center">
      <colgroup>
        <col width="">
        <col width="">
        <col width="">
        <col width="">
        <col width="">
      </colgroup>
      <thead class="table-head" style="background-color: #BAD0E8;">
        <tr>
          <td>No</td>
          <td>제목</td>
          <td>대여일</td>
          <td>반납 기한</td>
          <td>반납일</td>
          <td>연장</td>
          <td>반납</td>
        </tr>
      </thead>
      <tbody>	
      
        <tr th:each="borrow, state : ${myBorrowList}">
          <td th:text="${#lists.size(myBorrowList) - state.index}" style="padding-top: 1rem;"></td>
          <td style="padding-top: 1rem;"><a href="javascript:void(0);">[[${borrow.bookTitle}]]</a></td>
          <td style="padding-top: 1rem;">[[${borrow.borrowDate}]]</td>
          <td class="dueDate" style="padding-top: 1rem;">[[${borrow.returnDueDate}]]</td>
          <td style="padding-top: 1rem;">[[${borrow.returnDate}]]</td>
          <td> 
          	<span th:if="${borrow.extended == 'Y'} or ${borrow.returnDate != NULL}" >완료</span>
		       <input type="button" class="btn custom-btn" 
			  th:id="'exBtn-' + ${borrow.borrowCode}" value="연장"
			  th:onclick="checkReserve(this,[[${#authentication.name}]], [[${borrow.borrowCode}]], [[${borrow.bookCode}]]);"
			  th:if="${borrow.extended  == 'N'}  and ${borrow.returnDate == NULL}">
			  </td>
          <td>
          	<span th:if="${borrow.returnDate != NULL}">완료</span>
              <input type="button" class="btn custom-btn-del"  
			  th:id="'reBtn-' + ${borrow.borrowCode}" value="반납"
			  th:onclick="returnBook(this,[[${#authentication.name}]], [[${borrow.borrowCode}]], [[${borrow.bookCode}]]);"
			  th:if="${borrow.returnDate == NULL}">

          </td>
        </tr>
        </tbody>
    </table>
  </div>
 
</div>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/book/my_borrow2.js"></script> 
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
</th:block>
</html>




