<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/my/my_book_record.css">
</th:block>
<th:block layout:fragment="content">
	<div>
		<h2 class="member-title">독서 기록</h2>
	</div>
	<div id="book-search-modal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">도서 검색</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-3">
							<select id="book-search-column" class="form-select">
								<option value="BOOK_TITLE">제목</option>
								<option value="BOOK_AUTHOR">작가</option>
							</select>
						</div>
						<div class="col-7">
							<input type="text" id="book-search-value" class="form-control">
						</div>
						<div class="col-2 d-grid">
							<button type="button" class="btn custom-btn" onclick="book_search();">검색</button>
						</div>
					</div>
					<div id="modal-change-div">
						<div class="row mt-3 pt-3 border-top">
							<div class="col text-center">
								검색어를 입력해주세요.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="my-book-record-div mt-5 w-75 m-auto">
		<form action="/mBook/regBookRecord" method="post">
			<input type="hidden" name="mainMenuCode" th:value="${subMenuVO.mainMenuCode}">
			<input type="hidden" name="subMenuCode" th:value="${subMenuVO.subMenuCode}">
			<div class="row mt-5">
				<div class="col-6">
					<div class="input-group">
						<span class="input-group-text">선택도서</span>
						<input type="text" id="show-book-title" class="form-control" onclick="open_book_search_modal();"
							placeholder="도서검색" readonly>
						<input type="hidden" name="bookCode" id="selected-book-code">
					</div>
				</div>
				<div class="col-3">
					<div class="input-group">
						<span class="input-group-text">독서시작</span>
						<input type="date" name="startDate" id="start-date-input" class="form-control"
							th:max="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}">
					</div>
				</div>
				<div class="col-3">
					<div class="input-group">
						<span class="input-group-text">독서종료</span>
						<input type="date" name="endDate" class="form-control" onchange="end_date_change(this);"
							th:max="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}">
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col">
					<div class="input-group">
						<textarea name="bookReview" class="form-control" rows="5" required></textarea>
						<button type="submit" class="btn btn-primary custom-btn p-4">등 록</button>
					</div>
				</div>
			</div>
		</form>
		<form id="record-search-form" action="/mBook/myBookRecord" method="post">
			<input type="hidden" name="mainMenuCode" th:value="${subMenuVO.mainMenuCode}">
			<input type="hidden" name="subMenuCode" th:value="${subMenuVO.subMenuCode}">
			<input type="hidden" name="searchValue" id="search-value-h" th:value="${bookRecordSearchVO.searchValue}">
			<input type="hidden" name="searchColumn" id="search-column-h" th:value="${bookRecordSearchVO.searchColumn}">
			<input type="hidden" name="searchOrder" id="search-order-h" th:value="${bookRecordSearchVO.searchOrder}">
			<input type="hidden" name="nowPageNum" id="now-page-num" th:value="${bookRecordSearchVO.nowPageNum}">
		</form>
		<div class="row mt-5">
			<div class="offset-2 col-2">
				<select id="search-order-s" class="form-select">
					<option value="DESC" th:selected="${bookRecordSearchVO.searchOrder == 'DESC'}">최신순</option>
					<option value="ASC" th:selected="${bookRecordSearchVO.searchOrder == 'ASC'}">등록순</option>
				</select>
			</div>
			<div class="col-2">
				<select id="search-column-s" class="form-select">
					<option value="BOOK_TITLE" th:selected="${bookRecordSearchVO.searchColumn == 'BOOK_TITLE'}">도서제목</option>
					<option value="BOOK_AUTHOR" th:selected="${bookRecordSearchVO.searchColumn == 'BOOK_AUTHOR'}">도서작가</option>
					<option value="BOOK_REVIEW" th:selected="${bookRecordSearchVO.searchColumn == 'BOOK_REVIEW'}">기록내용</option>
				</select>
			</div>
			<div class="col-4">
				<input type="text" id="search-value-s" class="form-control" th:value="${bookRecordSearchVO.searchValue}">
			</div>
			<div class="col-2 d-grid">
				<button type="button" class="btn custom-btn" onclick="searchClick();">검 색</button>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-2 g-4 mt-4 record-list-div">
			<div class="col record-card-div" th:each="record : ${recordList}">
				<div class="card mb-3">
					<div class="row g-0">
						<div class="col-md-4" style="height: 270px;">
							<img th:src="${'/image/book/' + record.bookVO.imgList[0].attachedFileName}" class="rounded-start h-100 w-100">
						</div>
						<div class="col-md-8">
							<div class="card-body position-relative">
								<h5 class="card-title" th:text="${record.bookVO.bookTitle}"></h5>
								<p class="card-text">
									<small class="text-body-secondary" th:text="${record.bookVO.bookAuthor}"></small>
								</p>
								<div class="input-group">
									<input type="date" class="form-control form-control-sm start-date-input" th:value="${record.startDate}" readonly>
									<span class="input-group-text">~</span>
									<input type="date" class="form-control form-control-sm end-date-input" th:value="${record.endDate}" readonly>
								</div>
								<textarea class="form-control mt-2 book-review-textarea" th:text="${record.bookReview}" maxlength="10" readonly></textarea>
								<span class="card-span">
									<a href="javascript:void(0);" class="text-secondary" th:onclick="change_tag([[${record.recordCode}]], this);">수정</a>
									<span class="text-secondary"> / </span>
									<a href="javascript:void(0);" class="color-custom-r" th:onclick="delete_record([[${record.recordCode}]]);">삭제</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col text-center" th:if="${#lists.size(recordList) == 0}">
				독서 기록이 없습니다.
			</div>
			<div class="col pagination" th:if="${#lists.size(recordList) != 0}">
				<a th:if="${bookRecordSearchVO.prevPageFlag}" th:onclick="pageClick([[${bookRecordSearchVO.startPageNum - 1}]]);">&lt;</a>
				<a th:each="no : ${#numbers.sequence(bookRecordSearchVO.startPageNum, bookRecordSearchVO.endPageNum)}" th:text="${no}"
					th:onclick="pageClick([[${no}]]);" th:classappend="${bookRecordSearchVO.nowPageNum == no} ? pagination-select"></a>
				<a th:if="${bookRecordSearchVO.nextPageFlag}" th:onclick="pageClick([[${bookRecordSearchVO.endPageNum + 1}]]);">&gt;</a>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/my/my_book_record.js"></script>
</th:block>
</html>