<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/my/my_book_club.css">
</th:block>
<th:block layout:fragment="content">
	<div class="my-book-club-div">
		<th:block th:if="${#lists.size(myClubDetail) == 0}">
			<div class="noClub-div">
				<table class="table text-center">
					<thead>
						<tr>
							<td colspan="5"></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="5">가입한 북클럽이 없습니다.</td>
						</tr>
					</tbody>
				</table>
				<div class="club-list-btn">
					<input type="button" class="btn custom-btn" value="북클럽 목록" th:onclick="|location.href='@{/club/club(mainMenuCode=MAIN_MENU_004, subMenuCode=SUB_MENU_011)}';|">
				</div>
			</div>
		</th:block>
		<th:block th:if="${#lists.size(myClubDetail) != 0}">
			    <div class="mainHead">나의 북클럽</div>
			    <table class="table text-center">
			        <thead style="background-color: #BAD0E8;">
			            <tr>
			                <td>No</td>
			                <td>클럽명</td>
			                <td>가입날짜</td>
			                <td>이동/탈퇴</td>
			            </tr>
			        </thead>
			        <tbody>
			            <th:block th:if="${hasApprovedClubs}">
			                <th:block th:each="club, state : ${myClubDetail}">
			                    <tr th:if="${club.clubMemStatus == 2}">
			                    	<td style="padding-top:1rem;">[[${state.count}]]</td>
			                        <td>
			                        	<img width="40px;" th:src="${'/image/club/' + club.bookClubImageVO.bcAttachedFileName}">
			                        	[[${club.bookClubVO.clubName}]]
			                        </td>
			                        <td style="padding-top:0.9rem;">[[${club.clubRegDate}]]</td>
			                        <td>
	                                <input type="button" class="btn custom-btn" value="이동" th:onclick="|location.href='@{/club/clubDetail(clubCode=${club.clubCode}, mainMenuCode=MAIN_MENU_004, subMenuCode=SUB_MENU_011)}';|">
	                                <input type="button" class="btn custom-btn-del" th:attr="disabled=${club.memId == #authentication.name}" value="탈퇴" th:onclick="deleteBtn([[${club.acceptCode}]], [[${club.clubCode}]], [[${club.clubMemStatus}]], [[${subMenuVO.mainMenuCode}]], [[${subMenuVO.subMenuCode}]]);">
	                            </td>
			                    </tr>
			                </th:block>
			            </th:block>
			            <tr th:unless="${hasApprovedClubs}">
			                <td colspan="4">가입 승인된 클럽이 없습니다.</td>
			            </tr>
			        </tbody>
			    </table>
		    <div class="first-div">
			    <div class="mainHead">북클럽 신청</div>
			    <table class="table text-center">
			        <thead style="background-color: #BAD0E8;">
			            <tr>
			                <td>No</td>
			                <td>클럽명</td>
			                <td>상태</td>
			                <td>취소</td>
			            </tr>
			        </thead>
			        <tbody>
			        	<th:block th:if="${hasApproveWaitClubs}">
			            <th:block th:each="club, state : ${myClubDetail}">
			                <tr th:if="${club.clubMemStatus == 1}">
			                	<td style="padding-top:0.9rem;">[[${state.count}]]</td>
			                    <td>
			                    	<img width="40px;" th:src="${'/image/club/' + club.bookClubImageVO.bcAttachedFileName}">
			                    	[[${club.bookClubVO.clubName}]]
			                    </td>
			                    <td style="padding-top:0.9rem;">
								    <span th:if="${club.clubMemStatus == 1}">승인대기</span>
								    <span th:if="${club.clubMemStatus == 3}">거절</span>
								</td>
			                    <td>
			                        <input type="button" class="btn custom-btn-del" value="취소" th:onclick="deleteBtn([[${club.acceptCode}]], [[${club.clubCode}]], [[${club.clubMemStatus}]], [[${subMenuVO.mainMenuCode}]], [[${subMenuVO.subMenuCode}]]);">
			                    </td>
			                </tr>
			            </th:block>
			            </th:block>
			            <tr th:unless="${hasApproveWaitClubs}">
			                <td colspan="4">신청한 클럽이 없습니다.</td>
			            </tr>
			        </tbody>
			    </table>
		    </div>
		</th:block>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/my/my_book_club.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</th:block>
</html>