<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/my/my_book_club.css">
</th:block>
<th:block layout:fragment="content">
	<div class="my-book-club-div">
		<div class="my-club-list">나의 북클럽</div>
		<div class="my-apply-list">북클럽 신청</div>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/my/my_book_club.js"></script>
</th:block>
</html>