<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/my/my_book_record.css">
</th:block>
<th:block layout:fragment="content">
	<div class="my-book-record-div mt-5 w-75 m-auto">
		<div class="row">
			<div class="col">
				<h2>독서 기록</h2>
			</div>
		</div>
		<form action="/mBook/regBookRecord" method="post">
			<input type="hidden" name="mainMenuCode" th:value="${subMenuVO.mainMenuCode}">
			<input type="hidden" name="subMenuCode" th:value="${subMenuVO.subMenuCode}">
			<div class="row mt-5">
				<div class="col-6">
					<div class="input-group">
						<span class="input-group-text">대여도서</span>
						<select class="form-select" name="bookCode">
							<option th:each="bookMap : ${bookMapList}" th:value="${bookMap['BOOK_CODE']}" th:text="${bookMap['BOOK_TITLE']}"></option>
						</select>
					</div>
				</div>
				<div class="col-3">
					<div class="input-group">
						<span class="input-group-text">독서시작</span>
						<input type="date" name="startDate" id="start-date-input" class="form-control"
							th:max="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}">
					</div>
				</div>
				<div class="col-3">
					<div class="input-group">
						<span class="input-group-text">독서종료</span>
						<input type="date" name="endDate" class="form-control" onchange="end_date_change(this);"
							th:max="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}">
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col">
					<div class="input-group">
						<textarea name="bookReview" class="form-control" rows="5" required></textarea>
						<button type="submit" class="btn btn-primary custom-btn p-4">등 록</button>
					</div>
				</div>
			</div>
		</form>
		<form id="record-search-form">
			<input type="hidden" name="mainMenuCode" th:value="${subMenuVO.mainMenuCode}">
			<input type="hidden" name="subMenuCode" th:value="${subMenuVO.subMenuCode}">
			<input type="hidden" name="searchColumn" th:value="${bookRecordSearchVO.searchColumn}">
			<input type="hidden" name="searchValue" th:value="${bookRecordSearchVO.searchValue}">
			<input type="hidden" name="searchOrder" th:value="${bookRecordSearchVO.searchOrder}">
			<input type="hidden" name="nowPageNum" th:value="${bookRecordSearchVO.nowPageNum}">
		</form>
		<div class="row row-cols-1 row-cols-md-2 g-4 mt-5 record-list-div">
			<div class="col record-card-div" th:each="record : ${recordList}">
				<div class="card mb-3">
					<div class="row g-0">
						<div class="col-md-4" style="height: 270px;">
							<img th:src="${'/image/book/' + record.bookVO.imgList[0].attachedFileName}" class="rounded-start h-100 w-100">
						</div>
						<div class="col-md-8">
							<div class="card-body position-relative">
								<h5 class="card-title" th:text="${record.bookVO.bookTitle}"></h5>
								<p class="card-text">
									<small class="text-body-secondary" th:text="${record.bookVO.bookAuthor}"></small>
								</p>
								<div class="input-group">
									<input type="date" class="form-control form-control-sm start-date-input" th:value="${record.startDate}" readonly>
									<span class="input-group-text">~</span>
									<input type="date" class="form-control form-control-sm end-date-input" th:value="${record.endDate}" readonly>
								</div>
								<textarea class="form-control mt-2 book-review-textarea" th:text="${record.bookReview}" maxlength="10" readonly></textarea>
								<span class="card-span">
									<a href="javascript:void(0);" class="text-secondary" th:onclick="change_tag([[${record.recordCode}]], this);">수정</a>
									<span class="text-secondary"> / </span>
									<a href="javascript:void(0);" class="color-custom-r" th:onclick="delete_record([[${record.recordCode}]], this);">삭제</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col pagination">
				<a><</a>
				<a>1</a>
				<a>2</a>
				<a>3</a>
				<a>4</a>
				<a>></a>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/my/my_book_record.js"></script>
</th:block>
</html>