<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/my/my_book_club.css">
</th:block>
<th:block layout:fragment="content">
	<div class="my-book-club-div">
		<div class="my-club-list">나의 북클럽</div>
			<table class="table text-center">
				<thead>
					<tr>
						<td>클럽명</td>
						<td>가입날짜</td>
						<td>바로가기</td>
					</tr>
				</thead>
				<tbody>
				<th:block>
				<th:block th:each="club : ${myClubDetail}">
					<tr th:if="${club.memStatus == '승인'}">
						<td>[[${club.bookClubVO.clubName}]]</td>
						<td>[[${club.clubRegDate}]]</td>
						<td>
							<input type="button" class="btn custom-btn" value="이동" th:onclick="|location.href='@{/club/clubDetail(clubCode=${club.clubCode}, mainMenuCode=MAIN_MENU_004, subMenuCode=SUB_MENU_011)}';|">
						</td>
					</tr>
				</th:block>
				</th:block>
				</tbody>
			</table>
		<div class="my-apply-list">북클럽 신청</div>
			<table class="table text-center">
				<thead>
					<tr>
						<td>클럽명</td>
						<td>상태</td>
						<td>신청날짜</td>
						<td>취소</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="4">dd</td>
					</tr>
					<tr th:each="club : ${myClubDetail}">
						<th:block th:if="${club.memStatus == '승인대기'}">
							<td>[[${club.bookClubVO.clubName}]]</td>
							<td>[[${club.memStatus}]]</td>
							<td>[[${club.clubRegDate}]]</td>
							<td>
								<input type="button" class="btn custom-btn-del" value="취소" th:onclick="cancelApply([[${club.acceptCode}]], [[${club.clubCode}]]);">
							</td>
						</th:block>
					</tr>
				</tbody>
			</table>		
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/my/my_book_club.js"></script>
</th:block>
</html>