<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/my/my_password.css">
</th:block>
<th:block layout:fragment="content">
	<div class="my-password-div">
		<div class="row mt-5 w-50 m-auto">
			<div class="col ps-5">
				<h2>비밀번호 변경</h2>
			</div>
		</div>
		<div id="my-password-change-div" class="row mt-5 w-50 m-auto">
			<div class="offset-1 col-8 mt-5">
				<div class="input-group">
					<span class="input-group-text">현재 비밀번호</span>
					<input type="password" class="form-control" id="mem-pw" onkeyup="mem_pw_keyup(this);">
				</div>
			</div>
			<div class="offset-1 col-8 mt-5 d-grid">
				<button type="button" class="btn btn-primary custom-btn" onclick="check_pw();">확인</button>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/my/my_password.js"></script>
</th:block>
</html>