<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/my/my_profile.css">
</th:block>
<th:block layout:fragment="content">
	<div>
		<h2 class="member-title">내 프로필</h2>
	</div>
	<div class="my-profile-div pt-5">
		<div class="row mt-5 w-50 m-auto">
			<div class="col-4 profile-img-div">
				<div class="card shadow-sm">
					<div class="card-body d-flex">
						<!-- <img src="/image/admin.svg"> -->
						<img src="/image/icon_add.png">
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="card">
					<div class="card-body">
					
					</div>
				</div>
			</div>
		</div>
		
		<div class="row mt-5 w-50 m-auto">
		ㄴㄴ
		</div>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src="/js/.js"></script> -->
</th:block>
</html>