<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/my/my_profile.css">
</th:block>
<th:block layout:fragment="content">
	<div class="my-profile-div">
		<div class="row mt-5 w-50 m-auto">
			<div class="col ps-4">
				<h2>내 프로필</h2>
			</div>
		</div>
		
		<div class="row mt-5 w-50 m-auto">
			<div class="col-4">
				<div class="profile-img-div">
					
				</div>
			</div>
			<div class="col">

			</div>
		</div>
		
		<div class="row mt-5 w-50 m-auto">
		ㄴㄴ
		</div>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src="/js/.js"></script> -->
</th:block>
</html>