@charset "UTF-8";


.title-div{
	font-weight: bold; 
	font-size: x-large; 
	margin-top: 4rem; 
	margin-left: 3rem;
	margin-bottom: 4rem;
}

hr{
	width: 71%;
	margin-left: 4rem;
	font-weight: bold;
	border: none; 
    height: 2px; 
    background-color: black;
    margin-top: 2rem;
}

span{
	font-weight: bold;
	margin-right: 2rem;
}

table {
	margin-top: 0px;
	font-weight: bold;
}

.first-table{
	border-top: 1px solid lightgray;
}

.first-table td{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.board-title-div{
	padding-left: 5rem;
	font-weight: bold;
	font-size: 22px;
	margin-top: 2rem;
	margin-bottom: 1.2rem;
}

.detail-body{
	margin-left: 4rem;  
	margin-right: 23rem;
}

.content{
	margin-top: 1rem;
}

.board-body {
   height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-weight: lighter;
}

.board-btn-div{
	text-align: right;
}

.reply-div{
	margin-top: 2rem; 
}

.update-btn{
	background-color: none;
}

.delete-btn{
	background-color: none;
	color: #b94e51;
}

.btn-div{
	text-align: right;
}


.notice-btn{
	background-color: #b94e51;
	color: white;
	border-color: #b94e51;
	border: none;
	padding: 3px 5px;
	font-weight: lighter;
	margin-right: 0.5rem;
}

.replyList-div{
	font-weight: lighter;
	border-bottom: solid 1px lightgray;
	 width: 100%;
}

