@charset "UTF-8";

.title-div{
	font-weight: bold; 
	font-size: x-large; 
	margin-top: 4rem; 
	margin-left: 3rem;
	margin-bottom: 4rem;
}

.body-div{
	margin-top: 2rem;
	margin-left: 4rem;
	margin-right: 23rem;
}

table{
	border: 1px solid lightgray;
}

tr td:first-child {
	font-weight: bold;
    text-align: center;
    width: 10%;
    background-color: #e2ebfe;
    vertical-align: middle;
}

.com-btn{
	margin-top: 1rem;
	border: none;
	background-color: #6c96d8;
	border-radius: 3%; 
	color: white;
}

tr:nth-child(2) td:nth-child(2) {
    padding-left: 0.7rem;
}