@charset "UTF-8";


.community-head-div{
	margin-bottom: 4rem; 
	margin-top: 3rem; 
	margin-left: 2rem;  
	font-size: 20px; 
	font-weight: bold;
}

table {
	margin-top: 2rem;
}


.detail-body{
	margin-left: 2rem;  
	margin-right: 2rem;
	width: 80%;
}

.board-body{
	width: 100%;
	height: 300px;
	display: flex;
}

.board-body {
    height: 400px;
}

.reply-div{
	margin-top: 2rem; 
}

.update-btn{
	background-color: white;
}

.delete-btn{
	background-color: white;
	color: #b94e51;
}

.no-border{
    border: white;
}
