@charset "UTF-8";

.board-write-div{
	width: 90%;
}

.write-div{
	margin-bottom: 7rem; 
	margin-top: 3rem; 
	margin-left: 2rem;  
	font-size: 20px; 
	font-weight: bold;
}

tr td:first-child {
	font-weight: bold;
}

.table-div{
	margin-left: 2rem;
	margin-right: 2rem;
}

.com-btn{
	margin-top: 1rem;
	border: none;
	background-color: #6c96d8;
	border-radius: 3%; 
	color: white;
}