@charset "UTF-8";

.club-name-div{
	margin-bottom: 7rem; 
	margin-top: 3rem; 
	margin-left: 2rem;  
	margin-right: 2rem;
	font-size: 20px; 
	font-weight: bold;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

span{
	font-weight: bold;
	font-size: 17px;
	margin-right: 0.7rem;
}

.detail-body{
	margin-left: 2rem;
}

.manage-div{
	margin-top: 5rem;
}