@charset "UTF-8";

.club-name-div{
	margin-bottom: 5rem; 
	margin-top: 3rem; 
	margin-left: 2rem;  
	margin-right: 2rem;
	font-size: 20px; 
	font-weight: bold;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

span{
	font-weight: bold;
	font-size: 17px;
	margin-right: 0.7rem;
}

.detail-body{
	margin-left: 2rem;
}

.manage-div{
	margin-top: 5rem;
}
.weather-div {
	text-align: center;
	margin-top: 100px;
	font-family: Arial, sans-serif;
}

.weather {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	background-color: gray;
	width:470px;
}

.weather-img {
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.wind-container {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.wind-icon {
	width: 50px;
}

.wind {
	font-size: 24px;
	margin-left: 10px;
	font-weight:bold;
}

.weather h1{
	font-weight:bold;
}

.book-div{
	font-weight: bold;
	margin-bottom: 1rem;
}


.outer-row {
	border: 1px solid lightgray;
	border-radius: 8px;
	padding: 10px;
	height: 420px;
	/* width: 230px; */
	margin-bottom: 2rem;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 설정 */
}

.content-outer-row {
	border: 1px solid lightgray;
	border-radius: 8px;
	/* height: 300px; */
	/* width: 230px; */
	margin-bottom: 2rem;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 설정 */
	margin-right: 16px;
	padding: 20px;
	padding-bottom: 0px;
}

.hidden_outer-row {
	border-radius: 8px;
	padding: 10px;
	height: 600px;
	/* width: 230px; */
	margin-bottom: 2rem;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 설정 */
}

.rank-div{
    border: 1px solid lightgray; /* 테두리 설정 */
	width: 100%;
	margin-bottom: 0.7rem;
	border-collapse: separate; /* 테이블 테두리를 개별적으로 설정 */
    border-radius: 8px; /* 테두리의 둥글기를 조정할 값 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 설정 */
    padding: 10px;
}


.rank-div td {
	padding: 5px; /* 글자와 border 사이의 공간을 조정할 패딩 값 */
    border-radius: 10px; /* 테두리의 둥글기를 조정할 값 */
}

.this-book{
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.rounded-image{
	 border-radius: 50%;
	 margin-bottom: 3rem;
}


.month-book-title{
	color:#4e68b9;
	font-weight: bold;
	margin-bottom: 4px;
	margin-top: 4px; 
}

.month-book-autho{
	font-weight: bold;
}

.info-div{
	padding-left: 2rem;
}

.name-div{
	font-weight: bold;
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
}

.short-div{
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	padding-left: 12px;
}

.book-club-info td{
	padding-left: 12px;
}

.com-div{
	padding-right: 0px;
}

.board_rank_outer-row {
	border: 1px solid lightgray;
	border-radius: 8px;
	padding: 10px;
	height: 300px;
	width: 200px;
	margin-bottom: 2rem;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 설정 */
	margin-right: 16px;
}

.rank_img_box {
  height: 70%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rank_img_box img {
  height: 100%;
  width: auto;
  border-radius: 50%;
  object-fit: cover; /* 이미지가 타원형으로 잘리지 않도록 설정 */
}

.book-rank-img{
border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.com-head-div{
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.mem-info1{
	text-align: center;
	font-weight: bold;
	color:#4e68b9;
	margin-top: 0.4rem;
}

.mem-info2{
	text-align: center;
}




