@charset "UTF-8";

table {
	text-align: center;
	width: 100%;
	margin-top: 2rem;
}

.community-div{
	margin-left: 2rem;
	margin-right: 2rem;
}

.community-head-div{
	margin-bottom: 4rem; 
	margin-top: 3rem; 
	margin-left: 2rem;  
	font-size: 20px; 
	font-weight: bold;
}

thead{
	font-weight: bold;
	background-color: #e2ebfe;
}

.notice-row{
	font-weight: bold;
	
}

.notice-btn{
	background-color: #b94e51;
	color: white;
	border-color: #b94e51;
	border: none;
	padding: 3px 5px;
	font-weight: lighter;
}

.table thead tr td {
  border-bottom: 2px solid lightgray;
}