@charset "UTF-8";

.message-is-invalid {
   font-size: 0.7rem;
   color: red;
   margin-top: 2px;
}

.reg-form-div{
	margin-bottom: 4rem; 
	margin-top: 3rem; 
	margin-left: 2rem;  
	font-size: 20px; 
	font-weight: bold;
}