<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href="/css/.css"> -->
</th:block>
<th:block layout:fragment="content">
	<div class="club-manage-div">
		<div class="mainHead">북클럽 관리</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-12">
				<table class="table table-striped table-hover text-center mb-0">
					<colgroup>
						<col width="10%">
						<col width="20%">
						<col width="20%">
						<col width="20%">
						<col width="20%">
						<col width="10%">
					</colgroup>
					<thead class="table-head" style="background-color: #BAD0E8; font-weight: bold;">
						<tr>
							<td>No</td>
							<td>북클럽</td>
							<td>클럽장</td>
							<td>생성 날짜</td>
							<td>최근 활동 날짜</td>
							<td>이동/삭제</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="club, state : ${clubList}">
							<td style="padding-top:1rem;">[[${state.count}]]</td>
							<td style="text-align: left; padding-left: 3rem;">
								<img width="40px;" th:src="${'/image/club/' + club.bookClubImageVO.bcAttachedFileName}">
							[[${club.clubName}]]</td>
							<td style="padding-top:1rem;">[[${club.memId}]]</td>
							<td style="padding-top:1rem;">[[${club.clubCreateDate}]]</td>
							<td style="padding-top:1rem;">[[${club.communityVO.regDate}]]</td>
							<td>
								<input type="button" class="btn custom-btn" value="이동" th:onclick="|location.href='@{/club/clubDetail(clubCode=${club.clubCode}, mainMenuCode=MAIN_MENU_004, subMenuCode=SUB_MENU_011)}';|">
								<input type="button" class="btn custom-btn-del" value="삭제" th:onclick="deleteClub([[${club.clubCode}]], [[${subMenuVO.mainMenuCode}]], [[${subMenuVO.subMenuCode}]]);">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/admin/club_manage.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</th:block>
</html>