<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">

<!--연결해야 할 외부 css파일  -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/goods/category.css">
</th:block>

<th:block layout:fragment="content">
	<div class="member-title">
		카테고리 관리
	</div>
	<div class="categoryDiv">
		<div class="row" >
			<div class="col">
				<div class="row">
						<div class="col" style="font-size: 16px; color: red;  text-align: center;">
							*카테고리번호는 자동 생성되며, 카테고리 정렬시 사용하는 번호입니다 
						</div>
					</div>
				<div class="row ">
					<div class="col" >
						<form>
							<div class="row  w-75 mx-auto mt-2">
								<div class="col-10">
									<input id="goodsCateName" name="goodsCateName" type="text" class="form-control" placeholder="추가할 카테고리명 입력">
								</div>
								<div class="col-2 d-grid">
									<button th:onclick="regCategory([[${subMenuVO.mainMenuCode}]], [[${subMenuVO.subMenuCode}]]);" type="button" class="btn custom-btn mb-3">
										등 록
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row" style="margin-top: 2rem;"></div>
				<div class="row">
					<div class="col">
						<table id="goodsCateListTable" class="table table-hover text-center align-middle">
							<colgroup>
								<col width="5%">
								<col width="35%">
								<col width="*">
								<col width="15%">
								<col width="10%">
							</colgroup>
							<thead class="table-head"> 
								<tr>
									<td></td>
									<td>카테고리명</td>	
									<td>사용여부</td>
									<td>카테고리 번호</td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${#lists.size(cateList) == 0}">
									<tr>
										<td colspan="5">등록된 카테고리가 존재하지 않습니다.</td>
									</tr>
								</th:block>
								<th:block th:unless="${#lists.size(cateList) == 0}">
									<tr th:each="category, state : ${cateList}">
										<td th:text="${state.count}"></td>
										<td>[[${category.goodsCateName}]]</td>
										<td>
											<div class="row">
												<div class="form-check col-6">
													<input th:name="${'goodsCateIsUse_' + state.count}" type="radio" class="form-check-input" th:checked="${category.goodsCateIsUse == 'Y'}" th:onchange="changeIsUse([[${category.goodsCateCode}]]);">사용중 
												</div>
												<div class="form-check col-6">
													<input th:name="${'goodsCateIsUse_' + state.count}" type="radio" class="form-check-input" th:checked="${category.goodsCateIsUse == 'N'}"  th:onchange="changeIsUse([[${category.goodsCateCode}]]);">미사용 
												</div>
											</div>
										</td>
										<td>[[${category.goodsCateOrderNo}]]</td>
										<td>
											<input type="button" value="삭제" class="btn custom-btn-del" 
											th:onclick="|location.href='@{/aGoods/deleteGoodsCategory(goodsCateCode=${category.goodsCateCode} , mainMenuCode=${subMenuVO.mainMenuCode}, subMenuCode=${subMenuVO.subMenuCode} )}   ';|">
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<!--연결해야 할 외부 js 파일  -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/goods/goods_cate_manage.js"></script>
</th:block>

</html>