<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">

<!--연결해야 할 외부 css파일  -->
<th:block layout:fragment="content_css">
	<!--<link rel="stylesheet" href=""> -->
</th:block>

<th:block layout:fragment="content">
 	<div class="row">
 		<div class="col">

 			<div class="row">
 				<div class="col">
 					<table class="table table-hover">
 						<thead>
 							<tr>
 								<td>구매 코드</td>
 								<td>ID</td>
 								<td>결제금액</td>
 								<td>구매일</td>
 								<td>배송상태</td>
 							</tr>
 						</thead>
 						<tbody>
 						<th:block th:if="${#lists.size(orderList) == 0 }">
 							<tr>
 								<td colspan="6">주문 내역이 없습니다</td>
 							</tr>
 						</th:block>
 						<th:block th:unless="${#lists.size(orderList) == 0 }">
 							<tr th:each="order  : ${orderList}">
							    <td th:text="${order.orderCode}"></td>
							    <td th:text="${order.memId}"></td>
							    <td th:text="${order.buyPrice}"></td>
							    <td th:text="${order.buyDate}"></td>
							   	<td><a th:href="@{/aOrder/updateOrder(orderCode=${order.orderCode})}">[[${order.orderStr}]]</a></td>
							</tr>
 						</th:block>
 						</tbody>
 					</table>
 				</div>
 			</div>
 		</div>
 	</div>
</th:block>

<!--연결해야 할 외부 js 파일  -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/order/order.js"></script>
</th:block>

</html>