<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">

<!--연결해야 할 외부 css파일  -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/goods/goods.css">
</th:block>

<th:block layout:fragment="content">
<div class="member-title">상품 등록</div>
	<div class="regGoodsDiv w-75 m-auto mt-5 mb-5">
	
		<form th:action="@{/aGoods/regGoodsProcess}" method="post" enctype="multipart/form-data">
		
			<div class="row mt-5">
				<div class="col-3">
					<select id="" name="goodsCateCode" class="form-select">
						<th:block th:each="category : ${goodsCategoryList}">
							<option th:value="${category.goodsCateCode}">[[${category.goodsCateName}]]</option>
						</th:block>
					</select>
				</div>
				<div class="col-9">
					<input type="text" placeholder="상품명을 입력하세요." class="form-control"
						id="" name="goodsName" required>
				</div>
			</div>
			
			<div class="row mt-4">
				<div class="col">
					<div class="row ">
						<div class="col">
						<div class="col">
							<div class="form-check form-check-inline">
								<input class="form-check-input" value="1" type="radio" id=""
									name="goodsStatus" checked> <label class="form-check-label"
									for="">판매중</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" value="2" type="radio" id=""
									name="goodsStatus"> <label class="form-check-label" for="">준비중</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" value="3" type="radio" id=""
									name="goodsStatus"> <label class="form-check-label" for="">매진</label>
							</div>
						</div>
						</div>
					
						<div class="col">
							<div class="row">
						<div class="col-3">
							<span>재고: </span>
						</div>
						<div class="col-7">
							<input type="number" class="form-control" value="10" min="1">
						
						</div>
					</div>
						</div>
					
						<div class="col">
							<div class="col">
					<div class="row">
						<div class="col-3">
							<span>가격:</span>							
						</div>
						<div class="col-9">
							<input type="number" class="form-control" name="goodsPrice" required>
						</div>
					</div>
				</div>
						</div>
					
					
					</div>
					<div>
						
					</div>
					
				
				</div>
				
			</div>
				<div class="row">
						<div class="col mt-2">
						  <label for="exampleFormControlTextarea1" class="form-label">상품 소개글</label>
						  <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" style="resize: none;" name="goodsIntro"></textarea>
						</div>
					</div>
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col mt-3">
							<input type="file"class="form-control" id="" name="mainImg" required placeholder="메인 이미지를 등록하세요">
						</div>
					</div>
					<div class="row">
						<div class="col mt-2">
							<input type="file" class="form-control" id="" name="subImg" required placeholder="상세 이미지를 등록하세요">
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5" style="text-align: center;">
				<div class="col">
					<button id="" type="submit" class="btn btn-primary regGoodsBtn">
						등 록
					</button>
				</div>
			</div>
		</form>

	</div>

</th:block>

<!--연결해야 할 외부 js 파일  -->
<th:block layout:fragment="content_js">
	<script type="text/javascript"
		src="/js/content/goods/goods_manage.js"></script>
</th:block>

</html>