<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/admin/reserve_manage.css"> 
</th:block>
<th:block layout:fragment="content">
	<div class="reserve-manage-div">
		<div class="row">
  <div class="col-12">
    <div class="mainHead">
			도서 예약 관리
		</div>
  
    <table class="table table-striped table-hover text-center mb-0">
   		<colgroup>
			<col width="3%">
			<col width="8%">
			<col width="22%">
			<col width="15%">
			<col width="15%">
			<col width="15%">
			<col width="10%">
		</colgroup>
     <thead class="table-head" style="background-color: #BAD0E8; ">
        <tr>
          <td>No</td>
          <td>회원ID</td>
          <td>제목</td>
          <td>예약일</td>
          <td>대여 알림일</td>
          <td>예약 종료일</td>
          <td>삭제</td>
        </tr>
      </thead>
     </table>
    </div>
    <div class="col-12 scrollBar">
    <table class="table table-striped table-hover text-center">
    
   	 <colgroup>
			<col width="3%">
			<col width="8%">
			<col width="22%">
			<col width="15%">
			<col width="15%">
			<col width="15%">
			<col width="10%">
		</colgroup>
      <tbody>	
      
       <tr th:if="${#lists.size(reserveList) == 0 }">
       	<td colspan="7"> 예약한 회원이 없습니다.</td>
       </tr>
        <tr th:each="reserve, state : ${reserveList}">
          <td th:text="${#lists.size(reserveList) - state.index}"  style="padding-top: 1rem;"></td>
          <td style="padding-top: 1rem;">[[${reserve.memId}]]</td>
          <td style="padding-top: 1rem;"><a href="javascript:void(0);">[[${reserve.bookTitle}]]</a></td>
          <td style="padding-top: 1rem;">[[${reserve.reserveDate}]]</td>
          <td style="padding-top: 1rem;">[[${reserve.bookAlramDate}]]</td>
          <td style="padding-top: 1rem;">[[${reserve.reserveDueDate}]]</td>
          <td>
	          <input type="button" class="btn custom-btn-del"  
				   value="삭제"
				  th:onclick="delReserve([[${reserve.memId}]], [[${reserve.bookCode}]]);">
		 </td>
        </tr>
        </tbody>
    </table>
  </div>
</div>
	</div>
</th:block>
<th:block layout:fragment="content_js">
			<script type="text/javascript" src="/js/content/book/reserve_manage.js"></script> 
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</th:block>
</html>