<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href="/css/.css"> -->
</th:block>
<th:block layout:fragment="content">
	<div class="goods-list-div">
	굿즈리스트(모든 사람이 볼 수 있는 페이지)
	<table>
		
	</table>
	</div>
</th:block>
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src="/js/.js"></script> -->
</th:block>
</html>