<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/public_layout}">
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/goods/goods.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>슬라이드</title>
	<head>
<meta charset="UTF-8" />

<!-- Styles -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
	integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
	crossorigin="anonymous" />
<link rel="stylesheet" href="style.css" />
<link rel="stylesheet" href="/css/content/goods/goods.css">
	</head>
</th:block>
<th:block layout:fragment="content">
	<div style="font-weight: bold; font-size: x-large; margin-top: 4rem; margin-left: 3rem;">
		전체 상품
	</div>
	<div class="goodsListDiv">

			<div id="header3" class="goodsHead" style="margin-top: 3rem;">
				이 달의 굿즈
			</div>
			<hr>
		<div id="index_03">
				<div
					style="font-size: xx-large; text-align: center; margin-bottom: 1rem; margin-top:2rem; letter-spacing: 5px;">"문학작품을
					향수로 만나다."
				</div>
			<div id="slide3">
				<ul>
					<li><a th:href="@{/goods/newGoods(mainMenuCode=${subMenuVO.mainMenuCode}, subMenuCode=${subMenuVO.subMenuCode})}"><img
							src="https://goodsshop.gift/web/upload/market101/main_img_02.jpg"
							alt="슬라이드7" class="zzz"></a></li>
					<li><a th:href="@{/goods/newGoods(mainMenuCode=${subMenuVO.mainMenuCode}, subMenuCode=${subMenuVO.subMenuCode})}"><img
							src="https://goodsshop.gift/web/upload/market101/main_img_01.jpg"
							alt="슬라이드8" class="zzz"></a></li>
				</ul>
			</div>
		</div>

		<div
			style="text-align: right; padding-right: 8rem; margin-top: 11rem; color: #6c96d8; font-size: large;">
			<a th:href="@{/book/newBook(mainMenuCode=${subMenuVO.mainMenuCode}, subMenuCode=${subMenuVO.subMenuCode})}"> 이 달의 굿즈 책으로 만나기 </a>
		</div>

		<div class="row mt-5  goodsHead">
			<div class="col" style="margin-top: 5rem;">새로 들어온 상품</div>
			<hr>
		</div>
		<div class="row row-cols-4 g-3 ">
			<th:block th:each="goods : ${goodsList}">
				<div class="col mt-5">
					<div class="newGoods">
						<a th:href="@{/goods/goodsDetail(goodsCode=${goods.goodsCode}, mainMenuCode=${subMenuVO.mainMenuCode}, subMenuCode=${subMenuVO.subMenuCode})}">
							<img
							th:src="${'/image/goods/'+goods.goodsImgList[0].attachedFileName}"
							class="newGoods" style="margin-top: 2rem;">
						</a>
						<div class="">
							<h5 class="goodsN" style="margin-top: 1rem;">[[${goods.goodsName}]]</h5>
							<h5 class="goodsN">[[${#numbers.formatCurrency(goods.goodsPrice)}]]</h5>
							<i class="fa-regular fa-cart-shopping"></i>
						</div>
					</div>
				</div>
			</th:block>
		</div>

		<div class="goodsHead" style="margin-top: 16rem;">추천 상품</div>
		<hr>
	
		<div class="slide slide_wrap"
			style="margin-left: 5rem; margin-bottom: 6rem;">
			<div class="slide_item item1">
				<img
					src="https://goodsshop.gift/web/upload/market101/main_middle_banner.jpg"
					class="recGoods">
			</div>
			<div class="slide_item item2">
				<img
					src="https://goodsshop.gift/web/upload/market101/main_img_03.jpg"
					class="recGoods">
			</div>
			<div class="slide_prev_button slide_button">◀</div>
			<div class="slide_next_button slide_button">▶</div>
			<ul class="slide_pagination"></ul>

		</div>
			<div class="onDiv ddd">
			<a th:href="@{/goods/bestGoods(mainMenuCode=${subMenuVO.mainMenuCode}, subMenuCode=${subMenuVO.subMenuCode})}"> 베스트 상품 보러가기 </a>
		</div>
	</div>


</th:block>
<th:block layout:fragment="content_js">

	<script type="text/javascript" src="/js/content/goods/goods_list.js"></script>
</th:block>
</html>